<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAboutJob</key>
	<string>requiredInterfaceCoord</string>
	<key>decorationChainStatus</key>
	<string>keyModelForce</string>
	<key>invisibleSliderVisible</key>
	<string>relationalIconSaturation</string>
	<key>localDurationVelocity</key>
	<string>significantSliderTension</string>
	<key>managerStageRate</key>
	<string>contractionBufferSkewy</string>
	<key>robustEffectLeft</key>
	<string>backwardEntityTransparency</string>
	<key>smallAsyncLeft</key>
	<string>viewAdapterShape</string>
	<key>spineBesideVariable</key>
	<string>characterAgainstBridge</string>
	<key>textBufferVisible</key>
	<string>chartMementoBehavior</string>
</dict>
</plist>
