<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeInstructionTheme</key>
	<string>diversifiedPopupCoord</string>
	<key>associatedGraphicDepth</key>
	<string>semanticsProxyBrightness</string>
	<key>basicEquipmentType</key>
	<string>resultWorkSpacing</string>
	<key>curveViaNumber</key>
	<string>pointAgainstTask</string>
	<key>priorityWorkScale</key>
	<string>globalInkwellLocation</string>
	<key>shaderStateCoord</key>
	<string>entropyParameterBorder</string>
	<key>sinkTempleDelay</key>
	<string>interactorOperationBrightness</string>
	<key>stampVariableDepth</key>
	<string>progressbarDecoratorDepth</string>
	<key>techniqueWithoutChain</key>
	<string>routerCycleRight</string>
</dict>
</plist>
