<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoParticleVisibility</key>
	<string>currentPointAppearance</string>
	<key>decorationAroundFacade</key>
	<string>cubitStructureCenter</string>
	<key>draggableMemberFeedback</key>
	<string>crudeSpecifierBrightness</string>
	<key>indicatorModeStatus</key>
	<string>painterThanFacade</string>
	<key>lostPrecisionSpacing</key>
	<string>fusedBorderVisible</string>
	<key>stepFromPlatform</key>
	<string>eventAgainstScope</string>
	<key>zoneValueSaturation</key>
	<string>webUtilSize</string>
</dict>
</plist>
