<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionActivityMomentum</key>
	<string>easyLossSpeed</string>
	<key>cupertinoEnvironmentFeedback</key>
	<string>interactorFrameworkDepth</string>
	<key>giftSinceComposite</key>
	<string>drawerInsideCycle</string>
	<key>immutableTransformerCenter</key>
	<string>resolverAboutFacade</string>
	<key>imperativeAnimationFlags</key>
	<string>concurrentIsolateTransparency</string>
	<key>lazyInterfaceHue</key>
	<string>popupBufferLeft</string>
	<key>radiusIncludeLevel</key>
	<string>greatSpriteAppearance</string>
	<key>significantModelTail</key>
	<string>buttonTierDelay</string>
	<key>touchBufferShape</key>
	<string>providerContainVar</string>
	<key>zoneVarTag</key>
	<string>catalystDespiteMode</string>
</dict>
</plist>
