<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionWithoutStrategy</key>
	<string>containerAlongLayer</string>
	<key>giftOrBridge</key>
	<string>priorityParameterMargin</string>
	<key>independentObserverTint</key>
	<string>lastStoryboardHue</string>
	<key>lazyBuilderTag</key>
	<string>allocatorLikeParameter</string>
	<key>tweenShapeBottom</key>
	<string>lossInsideContext</string>
</dict>
</plist>
