<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityTaskDepth</key>
	<string>routeWorkSize</string>
	<key>groupParameterScale</key>
	<string>firstChapterMomentum</string>
	<key>intensityValueAlignment</key>
	<string>eventProxyBorder</string>
	<key>notifierThroughNumber</key>
	<string>serviceContextOrigin</string>
	<key>sliderThroughShape</key>
	<string>arithmeticAtForm</string>
	<key>timerAndStructure</key>
	<string>navigatorVariableOpacity</string>
	<key>toolExceptLayer</key>
	<string>rapidChannelTail</string>
</dict>
</plist>
