<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousDependencyTension</key>
	<string>sophisticatedAsyncMargin</string>
	<key>customizedSizeBehavior</key>
	<string>diffableErrorStatus</string>
	<key>gridPerTier</key>
	<string>inheritedQueueVelocity</string>
	<key>iconInsidePrototype</key>
	<string>pinchableSubscriptionAppearance</string>
	<key>optimizerIncludeFlyweight</key>
	<string>allocatorFrameworkStatus</string>
	<key>permissiveMusicFlags</key>
	<string>textOutsideActivity</string>
	<key>positionPatternSpeed</key>
	<string>titleExceptFunction</string>
	<key>requestPlatformBrightness</key>
	<string>reductionAdapterBorder</string>
</dict>
</plist>
