<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRichtextStyle</key>
	<string>hashAsActivity</string>
	<key>completerScopeFlags</key>
	<string>switchAsAdapter</string>
	<key>euclideanStepVelocity</key>
	<string>euclideanDurationTag</string>
	<key>geometricStateSpacing</key>
	<string>concurrentBaselineBound</string>
	<key>numericalSineSkewy</key>
	<string>usedMediaqueryHue</string>
	<key>streamAlongMode</key>
	<string>segmentLevelOrientation</string>
</dict>
</plist>
