<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferViaAdapter</key>
	<string>pinchableStoreTint</string>
	<key>compositionByParameter</key>
	<string>semanticLoopPadding</string>
	<key>explicitAsyncAppearance</key>
	<string>layoutThroughPhase</string>
	<key>queueMethodSaturation</key>
	<string>baseBeyondSystem</string>
	<key>resourcePlatformBound</key>
	<string>popupAndStage</string>
	<key>sampleAlongStyle</key>
	<string>particlePlatformIndex</string>
	<key>scrollableInteractorCenter</key>
	<string>parallelRouteRotation</string>
	<key>subtleChapterSize</key>
	<string>boxLayerLocation</string>
</dict>
</plist>
