<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousBehaviorSkewx</key>
	<string>subscriptionFacadeType</string>
	<key>characterAtSystem</key>
	<string>extensionScopeCenter</string>
	<key>errorByState</key>
	<string>streamTypeRate</string>
	<key>euclideanEventTransparency</key>
	<string>transformerWithForm</string>
	<key>fixedReductionTag</key>
	<string>stackOrWork</string>
	<key>gridviewBesideNumber</key>
	<string>deferredDescriptionLocation</string>
	<key>ignoredLayerEdge</key>
	<string>reducerLayerRotation</string>
	<key>otherSubscriptionOffset</key>
	<string>invisibleOptionInterval</string>
	<key>sampleParameterVisibility</key>
	<string>constraintFlyweightVisibility</string>
</dict>
</plist>
