<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerFromFlyweight</key>
	<string>rectOutsideProcess</string>
	<key>effectOfParam</key>
	<string>specifierViaActivity</string>
	<key>graphThanObserver</key>
	<string>cellVariableDirection</string>
	<key>intensityProcessSaturation</key>
	<string>bulletDecoratorCenter</string>
	<key>interactorKindShape</key>
	<string>blocLikeFramework</string>
	<key>marginValueTop</key>
	<string>crudeRequestInteraction</string>
</dict>
</plist>
