<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorMethodSize</key>
	<string>consumerAndSystem</string>
	<key>resolverStyleVisibility</key>
	<string>nodeOutsideTier</string>
	<key>substantialViewBorder</key>
	<string>lazyAnimationAlignment</string>
	<key>uniformOptionBottom</key>
	<string>positionNearBuffer</string>
</dict>
</plist>
