<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAnimationTop</key>
	<string>constRemainderMomentum</string>
	<key>cursorContainStyle</key>
	<string>cellVarSkewx</string>
	<key>rectThroughOperation</key>
	<string>discardedStackCenter</string>
	<key>smartStampBound</key>
	<string>isolateInType</string>
</dict>
</plist>
