<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOfScope</key>
	<string>alignmentByNumber</string>
	<key>cubeDuringStage</key>
	<string>radioAtTemple</string>
	<key>exceptionIncludeActivity</key>
	<string>navigatorVisitorName</string>
	<key>immediateProviderVisible</key>
	<string>alignmentContextVisible</string>
	<key>radiusVariableSkewx</key>
	<string>immediatePreviewSpeed</string>
	<key>resilientDelegateCount</key>
	<string>constraintFlyweightBehavior</string>
	<key>skirtProxyStatus</key>
	<string>unaryPlatformLeft</string>
	<key>textureFormTheme</key>
	<string>heapOperationOpacity</string>
</dict>
</plist>
