<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOutsideProcess</key>
	<string>alignmentFormType</string>
	<key>controllerAmongFramework</key>
	<string>eagerLoopSpeed</string>
	<key>delicateViewHead</key>
	<string>keyBuilderInterval</string>
	<key>handlerInterpreterDepth</key>
	<string>gesturedetectorProcessBound</string>
	<key>mediaqueryPerFlyweight</key>
	<string>normalCubitInterval</string>
	<key>missionOrAction</key>
	<string>animationInterpreterName</string>
	<key>priorityPrototypeScale</key>
	<string>queryInLayer</string>
	<key>publicFlexVisible</key>
	<string>paddingFlyweightTag</string>
	<key>tabviewPrototypeOffset</key>
	<string>factoryStrategyTension</string>
</dict>
</plist>
