<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPlaybackMomentum</key>
	<string>remainderProxyShape</string>
	<key>cubitSystemContrast</key>
	<string>prismaticSignEdge</string>
	<key>delegateContainMemento</key>
	<string>sizeMediatorInset</string>
	<key>navigatorMediatorState</key>
	<string>scrollableScenePosition</string>
	<key>secondMatrixTint</key>
	<string>relationalPlaybackTransparency</string>
	<key>specifierTypeBound</key>
	<string>subpixelIncludeVar</string>
	<key>unaryFlyweightRight</key>
	<string>relationalDescriptionInset</string>
	<key>usageActivityHue</key>
	<string>inkwellAboutDecorator</string>
</dict>
</plist>
