<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionInPattern</key>
	<string>symbolPlatformKind</string>
	<key>difficultGroupFlags</key>
	<string>spriteDuringEnvironment</string>
	<key>operationLikeShape</key>
	<string>reductionStyleRotation</string>
	<key>rowOfTask</key>
	<string>statefulFutureBottom</string>
	<key>semanticsParamAlignment</key>
	<string>zoneTaskOrigin</string>
	<key>textDespiteLevel</key>
	<string>sequentialCubitHue</string>
	<key>unarySinceMode</key>
	<string>decorationOfProcess</string>
</dict>
</plist>
