<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveMementoInset</key>
	<string>spriteMementoVisibility</string>
	<key>heroForScope</key>
	<string>signatureAmongShape</string>
	<key>mediocreStepInterval</key>
	<string>providerBridgeContrast</string>
	<key>multiFragmentState</key>
	<string>samplePhaseLocation</string>
	<key>rowInsidePhase</key>
	<string>resourceForStyle</string>
	<key>sequentialBinaryKind</key>
	<string>gateChainCoord</string>
</dict>
</plist>
