<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>providerBufferTail</key>
	<string>interpolationStyleEdge</string>
	<key>queueBridgeScale</key>
	<string>similarLoopFeedback</string>
	<key>storeAgainstSingleton</key>
	<string>reusableSignBorder</string>
</dict>
</plist>
