<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackFrameworkTransparency</key>
	<string>paddingExceptJob</string>
	<key>comprehensiveControllerTail</key>
	<string>interactorNumberHead</string>
	<key>inactiveCubitStatus</key>
	<string>rapidInterpolationType</string>
	<key>labelOperationOrigin</key>
	<string>spriteAmongTemple</string>
	<key>mediumPositionBottom</key>
	<string>constZoneStyle</string>
	<key>sharedInterfaceIndex</key>
	<string>gradientViaVisitor</string>
	<key>topicAtBuffer</key>
	<string>storageStageFlags</string>
</dict>
</plist>
