<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalStateOpacity</key>
	<string>observerAlongSystem</string>
	<key>cubeCompositeFlags</key>
	<string>denseContainerAcceleration</string>
	<key>delegateExceptPhase</key>
	<string>resourceOfVariable</string>
	<key>sliderContainKind</key>
	<string>consumerThanSystem</string>
	<key>topicExceptDecorator</key>
	<string>loopParamTransparency</string>
	<key>touchMementoScale</key>
	<string>repositorySystemTension</string>
	<key>utilNumberStyle</key>
	<string>marginVersusProxy</string>
</dict>
</plist>
