<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentWorkVisible</key>
	<string>mutableControllerSize</string>
	<key>entropyProcessTheme</key>
	<string>buttonStageType</string>
	<key>mediocreStreamOrigin</key>
	<string>topicInsideOperation</string>
	<key>mutableSwiftTint</key>
	<string>standaloneResourceRate</string>
	<key>titleIncludeJob</key>
	<string>pageviewTaskTension</string>
</dict>
</plist>
