<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterCompositeOrientation</key>
	<string>touchAroundNumber</string>
	<key>commonIntensityInset</key>
	<string>greatErrorFeedback</string>
	<key>largeMethodOffset</key>
	<string>semanticBufferDelay</string>
	<key>listviewTaskDistance</key>
	<string>lastObserverAppearance</string>
	<key>overlaySystemTail</key>
	<string>synchronousPresenterMode</string>
	<key>radioEnvironmentTension</key>
	<string>crucialServiceCenter</string>
	<key>sophisticatedAssetStatus</key>
	<string>optionDuringNumber</string>
	<key>spriteStageIndex</key>
	<string>diffableChartStatus</string>
	<key>streamExceptTask</key>
	<string>delegateLevelAlignment</string>
</dict>
</plist>
