<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAsProcess</key>
	<string>offsetDespiteVar</string>
	<key>directlyAssetDepth</key>
	<string>rapidMetadataDuration</string>
	<key>multiBufferVisible</key>
	<string>containerLevelInterval</string>
	<key>stateTemplePosition</key>
	<string>functionalDurationForce</string>
	<key>timerFormInteraction</key>
	<string>callbackBesideComposite</string>
	<key>viewSystemCenter</key>
	<string>mobxAlongFlyweight</string>
</dict>
</plist>
