<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionSingletonStatus</key>
	<string>skirtLevelBehavior</string>
	<key>decorationMethodSpeed</key>
	<string>boxshadowInsideProxy</string>
	<key>directlyImageTag</key>
	<string>multiplicationNumberLeft</string>
	<key>disparateBoxInteraction</key>
	<string>cardSystemInteraction</string>
	<key>normPerProxy</key>
	<string>disparateNavigatorOrientation</string>
	<key>routerSinceTier</key>
	<string>parallelRoleShade</string>
	<key>scrollableScreenAppearance</key>
	<string>directListviewHue</string>
</dict>
</plist>
