<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonScopeStyle</key>
	<string>callbackBridgeDensity</string>
	<key>extensionBufferValidation</key>
	<string>significantFragmentContrast</string>
	<key>mediaForAction</key>
	<string>workflowByTemple</string>
	<key>reducerFromInterpreter</key>
	<string>mobileCurveSize</string>
	<key>reductionCommandRate</key>
	<string>curveSinceActivity</string>
	<key>requiredRouteDensity</key>
	<string>semanticAsyncScale</string>
	<key>textForVar</key>
	<string>eagerChannelIndex</string>
</dict>
</plist>
