<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionStrategyIndex</key>
	<string>channelsDuringJob</string>
	<key>easyCompositionFlags</key>
	<string>concurrentBoxMargin</string>
	<key>effectVariableTag</key>
	<string>scrollModeTop</string>
	<key>modulusAgainstAdapter</key>
	<string>convolutionDuringEnvironment</string>
	<key>semanticsPlatformContrast</key>
	<string>timerIncludeTier</string>
</dict>
</plist>
