<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notifierExceptSingleton</key>
	<string>bulletFacadeVisibility</string>
	<key>originalProgressbarRate</key>
	<string>mediocreSizeSaturation</string>
	<key>permissiveDocumentVelocity</key>
	<string>expandedMementoTail</string>
	<key>platePerSystem</key>
	<string>gemValueDelay</string>
	<key>segmentByScope</key>
	<string>completerPerChain</string>
	<key>sensorThanSystem</key>
	<string>rectProcessOpacity</string>
</dict>
</plist>
