<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeControllerSize</key>
	<string>progressbarAmongLayer</string>
	<key>cubitInsideComposite</key>
	<string>integerForStyle</string>
	<key>plateInterpreterBehavior</key>
	<string>normalLabelDirection</string>
	<key>presenterAtVariable</key>
	<string>previewThanFunction</string>
	<key>prismaticTabbarMargin</key>
	<string>newestNotifierVelocity</string>
	<key>radioDecoratorRight</key>
	<string>frameCompositeBehavior</string>
	<key>skirtActionForce</key>
	<string>comprehensiveBaseTheme</string>
</dict>
</plist>
