<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperStateFeedback</key>
	<string>scrollByContext</string>
	<key>cursorAsTask</key>
	<string>injectionAmongLevel</string>
	<key>hardDecorationShade</key>
	<string>decorationPrototypeDuration</string>
	<key>resourceNearTemple</key>
	<string>tabviewAgainstPhase</string>
	<key>robustFutureBehavior</key>
	<string>cacheThroughActivity</string>
	<key>scrollableViewAcceleration</key>
	<string>clipperValueDirection</string>
	<key>statefulAlertMargin</key>
	<string>scaleSingletonLeft</string>
	<key>substantialBufferKind</key>
	<string>histogramLevelTension</string>
</dict>
</plist>
