<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianTransitionName</key>
	<string>firstDimensionFrequency</string>
	<key>custompaintShapeIndex</key>
	<string>techniqueJobRotation</string>
	<key>groupWithoutNumber</key>
	<string>optionAmongSingleton</string>
	<key>missionWorkRate</key>
	<string>declarativeAccessoryFrequency</string>
	<key>resolverDespiteActivity</key>
	<string>errorNumberCount</string>
	<key>subpixelAmongVisitor</key>
	<string>mediaViaValue</string>
</dict>
</plist>
