<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRequestCount</key>
	<string>statelessVersusBridge</string>
	<key>baselineAdapterBehavior</key>
	<string>usageStageStatus</string>
	<key>challengeDuringComposite</key>
	<string>observerAsObserver</string>
	<key>navigatorCompositeTop</key>
	<string>composableLabelFlags</string>
	<key>statelessSpriteForce</key>
	<string>switchSystemSaturation</string>
	<key>tweenStrategyType</key>
	<string>substantialCanvasRotation</string>
</dict>
</plist>
