<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInsideNumber</key>
	<string>cardPatternIndex</string>
	<key>asyncDurationKind</key>
	<string>explicitSegueSkewy</string>
	<key>cursorStageSpacing</key>
	<string>batchAgainstSingleton</string>
	<key>elasticCoordinatorCoord</key>
	<string>reactiveServiceContrast</string>
	<key>sophisticatedBatchIndex</key>
	<string>handlerPrototypeAcceleration</string>
	<key>streamVarSaturation</key>
	<string>relationalModelBound</string>
	<key>tableAdapterFormat</key>
	<string>permissiveLocalizationScale</string>
</dict>
</plist>
