<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedReducerCount</key>
	<string>routePatternInset</string>
	<key>chartAtNumber</key>
	<string>richtextSinceTask</string>
	<key>denseResponseRight</key>
	<string>cardTierRotation</string>
	<key>extensionParameterBehavior</key>
	<string>constModalInteraction</string>
	<key>keyFrameSize</key>
	<string>rowActionOrigin</string>
	<key>materialLayerInterval</key>
	<string>unactivatedProviderBound</string>
</dict>
</plist>
