<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAmongStyle</key>
	<string>dimensionLayerInset</string>
	<key>buttonActionTop</key>
	<string>gridFormContrast</string>
	<key>customizedTextfieldTheme</key>
	<string>permissiveLabelTransparency</string>
	<key>featureFromComposite</key>
	<string>gradientStageTension</string>
	<key>granularFactoryName</key>
	<string>zoneProxyShape</string>
	<key>interactiveNavigationMomentum</key>
	<string>exponentCompositeBound</string>
	<key>invisibleGridInteraction</key>
	<string>workflowFromFlyweight</string>
	<key>reductionPhaseName</key>
	<string>mediumCatalystFrequency</string>
	<key>subtleRepositorySpacing</key>
	<string>arithmeticValueSaturation</string>
	<key>switchAgainstStrategy</key>
	<string>taskAlongSingleton</string>
</dict>
</plist>
