<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicDrawerDirection</key>
	<string>gesturedetectorExceptChain</string>
	<key>futureModeName</key>
	<string>bufferFrameworkVisibility</string>
	<key>numericalIntegerRate</key>
	<string>usecaseOrSystem</string>
	<key>protectedInstructionDelay</key>
	<string>convolutionProxySpacing</string>
	<key>protectedMetadataState</key>
	<string>dependencyStyleBottom</string>
	<key>symmetricTextfieldBound</key>
	<string>providerInterpreterPressure</string>
</dict>
</plist>
