<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesContainOperation</key>
	<string>sortedTimerPadding</string>
	<key>customizedMultiplicationDuration</key>
	<string>labelAwayMode</string>
	<key>finalStorageAppearance</key>
	<string>lossEnvironmentHead</string>
	<key>sceneSystemDensity</key>
	<string>rowDecoratorAlignment</string>
	<key>subscriptionWithoutScope</key>
	<string>resultAgainstForm</string>
	<key>symmetricProgressbarDensity</key>
	<string>nodePrototypeTheme</string>
</dict>
</plist>
