<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeAlphaInteraction</key>
	<string>clipperOfTemple</string>
	<key>awaitActivityOpacity</key>
	<string>associatedDurationOrientation</string>
	<key>gramContainFramework</key>
	<string>responseExceptStage</string>
	<key>granularCurveInteraction</key>
	<string>exceptionAsJob</string>
	<key>integerThanStructure</key>
	<string>otherStateAlignment</string>
	<key>intuitiveModalBehavior</key>
	<string>smartThreadEdge</string>
	<key>navigatorTierRate</key>
	<string>resultPlatformTheme</string>
	<key>nibCompositeTransparency</key>
	<string>reducerWithoutVariable</string>
	<key>optionTaskMode</key>
	<string>labelTaskResponse</string>
	<key>zoneChainFeedback</key>
	<string>presenterCompositeSpeed</string>
</dict>
</plist>
