<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAmongAdapter</key>
	<string>taskContainContext</string>
	<key>elasticToolTension</key>
	<string>gesturedetectorMethodTint</string>
	<key>instructionFacadeCenter</key>
	<string>kernelInsideMode</string>
	<key>resizableGridviewFrequency</key>
	<string>hierarchicalTitleBehavior</string>
	<key>robustMaterialDirection</key>
	<string>prevStoreStatus</string>
	<key>sizeDuringVar</key>
	<string>profileVariableEdge</string>
</dict>
</plist>
