<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderAlongNumber</key>
	<string>specifierThroughParam</string>
	<key>concurrentOffsetBehavior</key>
	<string>aspectParamInterval</string>
	<key>factoryStrategyFrequency</key>
	<string>nativeOperationCoord</string>
	<key>gemSingletonInset</key>
	<string>asyncMethodPressure</string>
	<key>responseCycleTheme</key>
	<string>pinchableAnimatedcontainerPressure</string>
</dict>
</plist>
