<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAwayFunction</key>
	<string>titleActionType</string>
	<key>criticalEqualizationSkewx</key>
	<string>chapterExceptMethod</string>
	<key>futureVersusBuffer</key>
	<string>dynamicStoreVisibility</string>
	<key>menuAdapterPosition</key>
	<string>compositionStrategyBrightness</string>
	<key>presenterScopeRotation</key>
	<string>textureSystemAcceleration</string>
	<key>subtlePresenterOffset</key>
	<string>popupOutsidePlatform</string>
	<key>textureScopeForce</key>
	<string>bitrateTempleTag</string>
</dict>
</plist>
