<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSystemKind</key>
	<string>intensityAsKind</string>
	<key>difficultEquipmentTransparency</key>
	<string>matrixFacadeMomentum</string>
	<key>equalizationDuringStage</key>
	<string>desktopTimerInset</string>
	<key>intermediateStreamHue</key>
	<string>pinchableControllerRight</string>
	<key>nextTransitionInterval</key>
	<string>symbolSingletonInterval</string>
	<key>transitionMementoOffset</key>
	<string>constraintActionRotation</string>
	<key>unactivatedGiftOrigin</key>
	<string>lazyRoleTheme</string>
</dict>
</plist>
