<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPerForm</key>
	<string>specifierOperationHead</string>
	<key>crudeContainerShade</key>
	<string>permissiveIndicatorShade</string>
	<key>parallelCertificateSpacing</key>
	<string>interfaceNearVariable</string>
	<key>reductionOrObserver</key>
	<string>mediumMobxVelocity</string>
	<key>routeVersusStage</key>
	<string>frameStyleShade</string>
	<key>signValueTint</key>
	<string>tickerIncludeTier</string>
	<key>sinkNearStyle</key>
	<string>constraintOrChain</string>
	<key>tabviewTierTail</key>
	<string>heapBridgeFormat</string>
	<key>variantUntilFacade</key>
	<string>fixedResultCoord</string>
</dict>
</plist>
