<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedTextLeft</key>
	<string>scrollShapeBound</string>
	<key>builderSinceProxy</key>
	<string>variantScopeAppearance</string>
	<key>commandStyleOffset</key>
	<string>asyncMethodDelay</string>
	<key>difficultNotificationDelay</key>
	<string>descriptionNearEnvironment</string>
	<key>logarithmWithoutLevel</key>
	<string>usedDelegateValidation</string>
	<key>statefulCaptionStyle</key>
	<string>exceptionDecoratorLocation</string>
	<key>synchronousScaffoldFrequency</key>
	<string>reducerContainInterpreter</string>
	<key>taskPlatformResponse</key>
	<string>accordionCatalystRight</string>
	<key>tensorTransitionKind</key>
	<string>expandedSystemDepth</string>
</dict>
</plist>
