<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitFacadeType</key>
	<string>prioritySinceMethod</string>
	<key>boxshadowParamLeft</key>
	<string>batchPerTemple</string>
	<key>cellTaskAcceleration</key>
	<string>permissiveCaptionSpacing</string>
	<key>diversifiedSizeBehavior</key>
	<string>protocolWithoutFlyweight</string>
	<key>frameInterpreterTheme</key>
	<string>navigationWorkDirection</string>
	<key>marginParamBehavior</key>
	<string>mapNearKind</string>
	<key>observerAgainstProxy</key>
	<string>alignmentInterpreterState</string>
	<key>offsetNearFacade</key>
	<string>injectionDecoratorDuration</string>
	<key>paddingTaskTail</key>
	<string>metadataLevelMode</string>
	<key>relationalStatefulInset</key>
	<string>immutableCubitSkewx</string>
</dict>
</plist>
