<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalControllerBehavior</key>
	<string>notifierJobVisibility</string>
	<key>flexibleRiverpodMomentum</key>
	<string>spotAboutStrategy</string>
	<key>intuitiveRequestName</key>
	<string>notificationMethodStyle</string>
	<key>queueAsProxy</key>
	<string>crucialScreenType</string>
	<key>tangentByTemple</key>
	<string>eventPatternType</string>
	<key>usageJobRate</key>
	<string>customSubscriptionLocation</string>
</dict>
</plist>
