<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferEnvironmentCenter</key>
	<string>coordinatorProxyColor</string>
	<key>constraintAmongScope</key>
	<string>arithmeticTypeResponse</string>
	<key>fusedRectStatus</key>
	<string>observerMethodSkewy</string>
	<key>integerAgainstParam</key>
	<string>agileHandlerFrequency</string>
	<key>sizeStateTension</key>
	<string>permissiveCurveType</string>
	<key>tabviewByNumber</key>
	<string>transformerStageKind</string>
	<key>taskNumberSaturation</key>
	<string>curveOutsideAction</string>
	<key>titleFromVar</key>
	<string>storeWithFacade</string>
</dict>
</plist>
