<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateEnvironmentSkewx</key>
	<string>touchOperationIndex</string>
	<key>cacheAboutChain</key>
	<string>substantialEquipmentSize</string>
	<key>capsuleAmongVisitor</key>
	<string>isolateOrSystem</string>
	<key>interactorContextTheme</key>
	<string>concurrentEventSkewx</string>
	<key>particleMementoInteraction</key>
	<string>channelsStrategyBehavior</string>
</dict>
</plist>
