<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>elasticMonsterSkewx</key>
	<string>exponentOperationOpacity</string>
	<key>gesturedetectorAmongVisitor</key>
	<string>interfaceAndPrototype</string>
	<key>invisibleIntensityOffset</key>
	<string>unsortedNotificationDepth</string>
	<key>lastBehaviorOpacity</key>
	<string>customMemberVisible</string>
	<key>logarithmVisitorBorder</key>
	<string>disabledMaterialLocation</string>
	<key>movementVersusAction</key>
	<string>unsortedResponseCount</string>
	<key>overlayDuringMode</key>
	<string>alignmentTempleHue</string>
	<key>tabbarUntilComposite</key>
	<string>diffableRectTag</string>
	<key>taskDecoratorResponse</key>
	<string>priorStateFlags</string>
	<key>taskTypeTail</key>
	<string>cubitMediatorShade</string>
</dict>
</plist>
