<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerPrototypeTheme</key>
	<string>riverpodInsideTask</string>
	<key>normActionMargin</key>
	<string>intensityNearMemento</string>
	<key>observerAroundKind</key>
	<string>hashBeyondFramework</string>
	<key>progressbarAdapterStatus</key>
	<string>reductionAboutProxy</string>
</dict>
</plist>
