<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedPrecisionShade</key>
	<string>resultPhaseMomentum</string>
	<key>customizedInjectionFeedback</key>
	<string>progressbarChainTransparency</string>
	<key>labelWithPrototype</key>
	<string>intuitiveOffsetCoord</string>
	<key>serviceDuringCommand</key>
	<string>multiResponseRotation</string>
	<key>smartEntropyOrigin</key>
	<string>materialCycleBorder</string>
	<key>statefulJobOpacity</key>
	<string>binaryAndCommand</string>
	<key>substantialChecklistTint</key>
	<string>otherSinkBorder</string>
</dict>
</plist>
