<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicByShape</key>
	<string>borderViaParam</string>
	<key>priorTableType</key>
	<string>expandedVisitorValidation</string>
	<key>retainedCycleValidation</key>
	<string>utilAtTask</string>
	<key>screenAgainstParam</key>
	<string>customizedHeapBorder</string>
	<key>segueWorkCenter</key>
	<string>retainedChecklistPressure</string>
	<key>sizedboxPerContext</key>
	<string>giftUntilCycle</string>
	<key>sortedSymbolRate</key>
	<string>advancedNibIndex</string>
</dict>
</plist>
