<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>histogramBesideFacade</key>
	<string>logarithmStateVelocity</string>
	<key>labelInShape</key>
	<string>dedicatedAspectratioStyle</string>
	<key>positionedTempleAcceleration</key>
	<string>sampleStateSize</string>
	<key>projectionByWork</key>
	<string>otherRoutePadding</string>
	<key>providerThanLevel</key>
	<string>protectedMultiplicationCount</string>
	<key>signatureAlongVisitor</key>
	<string>musicAgainstMethod</string>
	<key>stampFacadeTheme</key>
	<string>resilientPetSpacing</string>
	<key>stateFacadeShade</key>
	<string>profileParameterDistance</string>
	<key>titleDuringParam</key>
	<string>compositionalTweenIndex</string>
</dict>
</plist>
