<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphicSinceVariable</key>
	<string>dialogsIncludeForm</string>
	<key>segmentStrategyVisible</key>
	<string>cubitFlyweightFeedback</string>
	<key>tensorMissionIndex</key>
	<string>modulusValueIndex</string>
	<key>transitionOutsideParameter</key>
	<string>grainContextDistance</string>
</dict>
</plist>
