<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerOperationDelay</key>
	<string>sustainableTextVisibility</string>
	<key>currentOverlayInset</key>
	<string>rectInsideType</string>
	<key>frameCompositeCount</key>
	<string>materialScaffoldOrientation</string>
	<key>matrixWithoutFacade</key>
	<string>buttonActivityScale</string>
	<key>pinchableRectRight</key>
	<string>anchorContextCenter</string>
	<key>popupPlatformDirection</key>
	<string>curveAndState</string>
	<key>repositoryAmongStage</key>
	<string>handlerDespiteSystem</string>
	<key>sophisticatedBaseInset</key>
	<string>currentStorageTop</string>
</dict>
</plist>
