<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAlertContrast</key>
	<string>advancedProviderBound</string>
	<key>sensorIncludeFunction</key>
	<string>elasticPopupSize</string>
	<key>streamWithVisitor</key>
	<string>mobxForStrategy</string>
</dict>
</plist>
