<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedEventScale</key>
	<string>graphicNearTemple</string>
	<key>builderAroundStructure</key>
	<string>logUntilScope</string>
	<key>cursorSinceStyle</key>
	<string>providerAlongVariable</string>
	<key>delegateOperationBound</key>
	<string>sliderStateDelay</string>
	<key>hardFactoryTransparency</key>
	<string>widgetStructureOrigin</string>
	<key>matrixAroundBuffer</key>
	<string>staticDelegateInterval</string>
	<key>radiusPatternResponse</key>
	<string>unsortedBaselineSaturation</string>
	<key>tabviewWorkTail</key>
	<string>swiftAgainstTemple</string>
	<key>tweenAtFramework</key>
	<string>difficultMultiplicationPadding</string>
</dict>
</plist>
