<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintFacadeBrightness</key>
	<string>zoneShapePressure</string>
	<key>customUnaryValidation</key>
	<string>reusableChannelsValidation</string>
	<key>dimensionVarOffset</key>
	<string>hashNearEnvironment</string>
	<key>labelActionType</key>
	<string>titleValueShade</string>
	<key>lostObserverFeedback</key>
	<string>notificationOutsideParameter</string>
	<key>precisionPerVariable</key>
	<string>cubeWithPhase</string>
	<key>tabviewLevelName</key>
	<string>sinkFrameworkTail</string>
</dict>
</plist>
