<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveStateScale</key>
	<string>effectContainFramework</string>
	<key>difficultDelegateFlags</key>
	<string>widgetStyleVisible</string>
	<key>geometricModelSpacing</key>
	<string>texturePerContext</string>
	<key>liteResolverIndex</key>
	<string>lazyRectState</string>
	<key>loopPrototypeDelay</key>
	<string>tweenAgainstCommand</string>
	<key>singleEffectBottom</key>
	<string>threadVariableMargin</string>
	<key>statelessBeyondPhase</key>
	<string>advancedLayerFrequency</string>
	<key>substantialWorkflowSaturation</key>
	<string>sinkJobInteraction</string>
	<key>swiftContainOperation</key>
	<string>gradientOrProxy</string>
</dict>
</plist>
