<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAboutVariable</key>
	<string>sliderInsideState</string>
	<key>containerLayerDelay</key>
	<string>toolAmongStructure</string>
	<key>geometricDescriptionTension</key>
	<string>zonePerParameter</string>
	<key>normValueFlags</key>
	<string>storageUntilVisitor</string>
	<key>originalTickerPressure</key>
	<string>spotVariableSkewx</string>
	<key>priorityKindRight</key>
	<string>gemThroughAction</string>
	<key>sliderOperationBottom</key>
	<string>columnWithAdapter</string>
</dict>
</plist>
