<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsAmongStructure</key>
	<string>secondNibOrigin</string>
	<key>histogramBesideMediator</key>
	<string>sortedFrameScale</string>
	<key>skinTypeRight</key>
	<string>exponentOutsideAction</string>
	<key>unactivatedConstraintTension</key>
	<string>graphicLevelMomentum</string>
</dict>
</plist>
