<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxParameterRotation</key>
	<string>ignoredChannelVisibility</string>
	<key>nextStreamLeft</key>
	<string>smallScaleCount</string>
	<key>playbackChainMode</key>
	<string>diversifiedTimerInterval</string>
	<key>popupAroundCommand</key>
	<string>liteMobileRotation</string>
	<key>reductionViaTemple</key>
	<string>compositionalSubscriptionSize</string>
	<key>seamlessDrawerCenter</key>
	<string>backwardBitrateInteraction</string>
	<key>utilContainCommand</key>
	<string>concreteRowMomentum</string>
</dict>
</plist>
