<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedStorageForce</key>
	<string>animatedSliderDensity</string>
	<key>handlerTypeCenter</key>
	<string>greatControllerSpacing</string>
	<key>smallGiftPosition</key>
	<string>sortedCanvasOpacity</string>
	<key>vectorSinceJob</key>
	<string>monsterAsShape</string>
</dict>
</plist>
