<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerActivityDelay</key>
	<string>textMethodRotation</string>
	<key>inactiveDecorationBehavior</key>
	<string>immutableMarginType</string>
	<key>modalFlyweightOffset</key>
	<string>greatImageStatus</string>
	<key>subscriptionForKind</key>
	<string>errorShapeAppearance</string>
	<key>tickerActionIndex</key>
	<string>baseLikePhase</string>
</dict>
</plist>
