<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileZoneMargin</key>
	<string>largeFrameFormat</string>
	<key>bulletMediatorPadding</key>
	<string>substantialParticleBottom</string>
	<key>dedicatedStorageDistance</key>
	<string>lazyCompositionFrequency</string>
	<key>euclideanBaseRight</key>
	<string>uniqueNodeAlignment</string>
	<key>menuNumberBottom</key>
	<string>sophisticatedExceptionFlags</string>
	<key>routerFlyweightTop</key>
	<string>lostStampShade</string>
	<key>topicAboutScope</key>
	<string>sliderSinceLevel</string>
	<key>vectorActivityTheme</key>
	<string>animatedNavigationOpacity</string>
</dict>
</plist>
