<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousFutureInteraction</key>
	<string>resultVarResponse</string>
	<key>awaitActivityInset</key>
	<string>dynamicSpecifierRight</string>
	<key>blocOfContext</key>
	<string>ephemeralEntityKind</string>
	<key>containerThanSystem</key>
	<string>stateFlyweightVelocity</string>
	<key>custompaintPerMode</key>
	<string>subpixelTaskSkewx</string>
	<key>interfaceWorkShade</key>
	<string>boxBufferSkewy</string>
	<key>mediocreSizeHead</key>
	<string>touchIncludeChain</string>
	<key>serviceActionBound</key>
	<string>asynchronousCompleterScale</string>
	<key>shaderFormIndex</key>
	<string>layoutTempleSkewy</string>
</dict>
</plist>
