<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionStateState</key>
	<string>radioInsideTask</string>
	<key>ignoredFutureAlignment</key>
	<string>normalContainerPressure</string>
	<key>originalCubitForce</key>
	<string>hyperbolicCommandSize</string>
</dict>
</plist>
