<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderNearFunction</key>
	<string>routerStructureCount</string>
	<key>gridAsJob</key>
	<string>widgetLayerScale</string>
	<key>modelPrototypeLeft</key>
	<string>concurrentGrainTint</string>
	<key>semanticEffectTop</key>
	<string>disabledPresenterDelay</string>
	<key>textureInParam</key>
	<string>ignoredChapterResponse</string>
	<key>uniformPromiseOpacity</key>
	<string>significantHistogramMode</string>
</dict>
</plist>
