<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderVisitorSpacing</key>
	<string>storeStrategyState</string>
	<key>completerUntilBuffer</key>
	<string>indicatorProxyBorder</string>
	<key>hyperbolicStreamBrightness</key>
	<string>iconFrameworkIndex</string>
	<key>sophisticatedTextFlags</key>
	<string>unactivatedBuilderAlignment</string>
	<key>vectorContainEnvironment</key>
	<string>stateAgainstVar</string>
</dict>
</plist>
