<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileActivitySkewy</key>
	<string>newestInteractorPosition</string>
	<key>buttonProxyValidation</key>
	<string>firstBuilderIndex</string>
	<key>curveOfStructure</key>
	<string>sinkBeyondPhase</string>
	<key>fusedTabviewDistance</key>
	<string>labelBridgePosition</string>
	<key>gestureFromSystem</key>
	<string>desktopSkirtEdge</string>
	<key>intuitiveMetadataFlags</key>
	<string>resilientIntensityOpacity</string>
	<key>mediocreViewBound</key>
	<string>roleProcessDepth</string>
</dict>
</plist>
