<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintWithoutBridge</key>
	<string>prismaticBinaryOffset</string>
	<key>sampleAlongStructure</key>
	<string>missionNearLayer</string>
	<key>synchronousRectOrigin</key>
	<string>gridExceptStrategy</string>
	<key>vectorForVar</key>
	<string>hierarchicalRouterDirection</string>
</dict>
</plist>
