<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorActivityStatus</key>
	<string>independentRowScale</string>
	<key>asynchronousCollectionFormat</key>
	<string>giftWithoutPhase</string>
	<key>denseOffsetFormat</key>
	<string>navigatorProxyHead</string>
	<key>dynamicInteractorTail</key>
	<string>dependencyAmongPlatform</string>
	<key>extensionPlatformInset</key>
	<string>originalSinkBrightness</string>
	<key>immutableAlignmentInterval</key>
	<string>allocatorAgainstStrategy</string>
	<key>interactorIncludeStage</key>
	<string>prismaticChannelsSpacing</string>
	<key>responseVarScale</key>
	<string>builderTempleRight</string>
	<key>sliderParameterInterval</key>
	<string>easySliderState</string>
	<key>zoneProxyShape</key>
	<string>taskVarDepth</string>
</dict>
</plist>
