<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorAroundPhase</key>
	<string>sizeDespiteForm</string>
	<key>inheritedAssetFeedback</key>
	<string>layerActivityAlignment</string>
	<key>modulusExceptPlatform</key>
	<string>rectTierPressure</string>
	<key>smartScaleDelay</key>
	<string>smartInterfaceContrast</string>
	<key>sortedGramPosition</key>
	<string>spriteNearProxy</string>
	<key>tweenCyclePadding</key>
	<string>tickerViaState</string>
	<key>typicalSubscriptionLocation</key>
	<string>statelessCollectionForce</string>
</dict>
</plist>
