<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityViaVisitor</key>
	<string>factoryScopeSkewy</string>
	<key>newestContainerDensity</key>
	<string>hierarchicalAspectratioDistance</string>
	<key>overlayAsSingleton</key>
	<string>curveDecoratorContrast</string>
	<key>sizeBeyondVariable</key>
	<string>enabledModalDuration</string>
	<key>textDecoratorVisibility</key>
	<string>layerWorkBound</string>
</dict>
</plist>
