<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphOutsidePlatform</key>
	<string>curveTierPosition</string>
	<key>intuitiveMenuTag</key>
	<string>grayscaleBesideBridge</string>
	<key>pinchableListenerDelay</key>
	<string>subtleChapterLeft</string>
	<key>storeByPattern</key>
	<string>composableControllerBrightness</string>
</dict>
</plist>
