<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionFlyweightCoord</key>
	<string>oldGiftSize</string>
	<key>decorationAboutSingleton</key>
	<string>navigationMethodScale</string>
	<key>effectInsideVar</key>
	<string>futureActionOffset</string>
	<key>intensityWithStrategy</key>
	<string>smartSkirtAlignment</string>
	<key>managerPlatformForce</key>
	<string>protocolThanVariable</string>
	<key>sophisticatedModelOffset</key>
	<string>keyRowDelay</string>
</dict>
</plist>
