<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxModeInterval</key>
	<string>listenerWorkSpeed</string>
	<key>materialCompleterState</key>
	<string>cartesianHashStatus</string>
	<key>prevWidgetRight</key>
	<string>inheritedActionKind</string>
	<key>semanticRowPressure</key>
	<string>modelNumberOffset</string>
	<key>skinVersusStructure</key>
	<string>musicDespiteInterpreter</string>
</dict>
</plist>
