<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonExceptKind</key>
	<string>featureTaskDelay</string>
	<key>comprehensiveConsumerTop</key>
	<string>sessionFunctionStatus</string>
	<key>localHeapFlags</key>
	<string>musicTaskContrast</string>
	<key>paddingStageTint</key>
	<string>projectionSinceFunction</string>
	<key>petForOperation</key>
	<string>imageContainEnvironment</string>
	<key>resourceAroundNumber</key>
	<string>boxshadowFormInteraction</string>
	<key>reusableSpriteInterval</key>
	<string>mobileControllerRight</string>
</dict>
</plist>
