<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTextOffset</key>
	<string>enabledUsecaseShape</string>
	<key>channelMediatorVisibility</key>
	<string>compositionWithoutPhase</string>
	<key>explicitMobileTension</key>
	<string>navigationDespiteEnvironment</string>
	<key>mediaViaKind</key>
	<string>tweenPerFacade</string>
	<key>particleAwayDecorator</key>
	<string>fusedFrameRight</string>
	<key>smartCacheColor</key>
	<string>callbackParamBrightness</string>
	<key>specifierNumberSaturation</key>
	<string>handlerPhaseCount</string>
</dict>
</plist>
