<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveActionResponse</key>
	<string>finalQueryCoord</string>
	<key>marginInterpreterType</key>
	<string>animationShapeBrightness</string>
	<key>permissiveProgressbarMode</key>
	<string>vectorMediatorDensity</string>
	<key>unsortedMobxDensity</key>
	<string>custompaintTaskName</string>
</dict>
</plist>
