<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasSystemOffset</key>
	<string>graphCompositeDirection</string>
	<key>dialogsAndInterpreter</key>
	<string>actionAgainstSingleton</string>
	<key>durationKindBound</key>
	<string>secondMethodFeedback</string>
	<key>durationParameterTop</key>
	<string>mutableStampOpacity</string>
	<key>errorPlatformVisible</key>
	<string>newestTextTension</string>
	<key>hyperbolicNavigatorDepth</key>
	<string>popupThroughStage</string>
	<key>positionValueScale</key>
	<string>sustainablePointBottom</string>
	<key>streamBeyondStyle</key>
	<string>featureTaskRight</string>
</dict>
</plist>
