<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentExceptNumber</key>
	<string>accordionRectInteraction</string>
	<key>beginnerCallbackOpacity</key>
	<string>associatedCaptionSpeed</string>
	<key>builderByForm</key>
	<string>factoryCyclePadding</string>
	<key>eagerProfileDensity</key>
	<string>mapAsShape</string>
	<key>fragmentAboutProcess</key>
	<string>buttonObserverSkewx</string>
	<key>hashActivityOrientation</key>
	<string>resourceStateInteraction</string>
	<key>movementTaskScale</key>
	<string>projectStructureCount</string>
	<key>navigatorVariableCoord</key>
	<string>utilDuringFlyweight</string>
	<key>significantNibAppearance</key>
	<string>slashInsideFramework</string>
</dict>
</plist>
