<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderCommandAlignment</key>
	<string>customizedParticleTint</string>
	<key>builderWorkResponse</key>
	<string>constraintSingletonIndex</string>
	<key>consultativeTextureTransparency</key>
	<string>borderVisitorTag</string>
	<key>persistentDelegateBorder</key>
	<string>riverpodPhasePressure</string>
	<key>priorPetInteraction</key>
	<string>pointPlatformBound</string>
	<key>subsequentAlignmentDirection</key>
	<string>alphaFunctionCoord</string>
	<key>subsequentSignatureTension</key>
	<string>entityProcessStatus</string>
</dict>
</plist>
