<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticPositionBottom</key>
	<string>handlerObserverBehavior</string>
	<key>arithmeticWithShape</key>
	<string>dialogsFromStage</string>
	<key>decorationInCommand</key>
	<string>configurationAdapterInset</string>
	<key>dependencyExceptMode</key>
	<string>constConstraintBorder</string>
	<key>flexMediatorType</key>
	<string>actionBridgeInterval</string>
	<key>keyPrecisionHead</key>
	<string>bufferWorkRate</string>
	<key>navigatorCommandMomentum</key>
	<string>channelsFunctionSkewy</string>
	<key>oldDecorationShape</key>
	<string>pointAmongEnvironment</string>
	<key>publicGradientSaturation</key>
	<string>subpixelJobFlags</string>
	<key>swiftPatternPosition</key>
	<string>sequentialSubpixelVisibility</string>
</dict>
</plist>
