<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeExpandedEdge</key>
	<string>gestureInFacade</string>
	<key>assetStyleRotation</key>
	<string>liteLocalizationFeedback</string>
	<key>channelsFromFramework</key>
	<string>functionalPopupInteraction</string>
	<key>descriptionVariableVisible</key>
	<string>loopAsStyle</string>
	<key>heapWithVar</key>
	<string>blocLayerTension</string>
	<key>intermediateNavigatorOffset</key>
	<string>difficultThreadTail</string>
	<key>kernelCompositeDistance</key>
	<string>similarTernaryBehavior</string>
	<key>subscriptionWithSingleton</key>
	<string>interactorFromVar</string>
</dict>
</plist>
