<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocObserverLeft</key>
	<string>tweenFormDuration</string>
	<key>controllerStructureOpacity</key>
	<string>musicOrBridge</string>
	<key>optimizerStructureFlags</key>
	<string>capacitiesPerMode</string>
	<key>rapidSceneTension</key>
	<string>curveBesideShape</string>
</dict>
</plist>
