<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionMemberTheme</key>
	<string>providerFrameworkMargin</string>
	<key>actionEnvironmentSpacing</key>
	<string>smallMonsterOrigin</string>
	<key>apertureUntilParameter</key>
	<string>petVisitorTint</string>
	<key>coordinatorStageKind</key>
	<string>stepOrComposite</string>
	<key>extensionLevelHead</key>
	<string>requiredMultiplicationLocation</string>
	<key>graphBesideMode</key>
	<string>arithmeticTitleSpacing</string>
	<key>iterativeSineHue</key>
	<string>heroValueTag</string>
	<key>resizableEntityVisibility</key>
	<string>routerAgainstWork</string>
</dict>
</plist>
