<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedModelDepth</key>
	<string>pageviewPrototypeDensity</string>
	<key>capsuleUntilFunction</key>
	<string>capacitiesAwayInterpreter</string>
	<key>checkboxExceptObserver</key>
	<string>gradientTaskShape</string>
	<key>denseMethodName</key>
	<string>isolateWorkSkewx</string>
	<key>gesturedetectorPatternColor</key>
	<string>largeConstraintHead</string>
	<key>ignoredLocalizationTint</key>
	<string>visibleControllerStyle</string>
	<key>providerCommandContrast</key>
	<string>touchAroundTemple</string>
	<key>specifyProtocolDepth</key>
	<string>vectorVarSkewx</string>
	<key>textureBeyondChain</key>
	<string>semanticCompositionAppearance</string>
	<key>transformerLikeStyle</key>
	<string>tickerStateAppearance</string>
</dict>
</plist>
