<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateUntilOperation</key>
	<string>apertureMethodPosition</string>
	<key>diversifiedFactoryFlags</key>
	<string>cupertinoCommandRate</string>
	<key>hardVectorFormat</key>
	<string>priorityStyleKind</string>
	<key>pivotalLayoutRight</key>
	<string>substantialCurveSkewy</string>
	<key>sampleKindCoord</key>
	<string>captionOrEnvironment</string>
	<key>semanticNavigationTransparency</key>
	<string>capacitiesValueDirection</string>
	<key>symmetricSwitchTransparency</key>
	<string>lazyHashIndex</string>
	<key>taskOutsideBridge</key>
	<string>stampStateDelay</string>
	<key>themeUntilPlatform</key>
	<string>statefulAnimationFlags</string>
</dict>
</plist>
