<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMethodOpacity</key>
	<string>compositionalIconPosition</string>
	<key>channelLevelDensity</key>
	<string>dependencyAtBuffer</string>
	<key>projectUntilProxy</key>
	<string>captionExceptComposite</string>
	<key>reducerWorkScale</key>
	<string>clipperThanType</string>
	<key>resultMediatorAcceleration</key>
	<string>intermediateDependencySpeed</string>
</dict>
</plist>
