<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheOfSingleton</key>
	<string>prevSwitchInteraction</string>
	<key>containerLikeTier</key>
	<string>builderVersusPhase</string>
	<key>delegateFlyweightSkewx</key>
	<string>materialSystemDuration</string>
	<key>nextImageFormat</key>
	<string>contractionAgainstVisitor</string>
	<key>progressbarAroundCommand</key>
	<string>comprehensiveSegueOrigin</string>
	<key>requiredGestureOrigin</key>
	<string>easyInterpolationTransparency</string>
	<key>sortedSubscriptionMode</key>
	<string>chartAlongForm</string>
	<key>streamCompositePosition</key>
	<string>toolWithoutTemple</string>
	<key>subtleMapCount</key>
	<string>geometricLocalizationTheme</string>
</dict>
</plist>
