<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityVersusLevel</key>
	<string>intensityThanValue</string>
	<key>draggableMonsterInset</key>
	<string>listviewStrategySkewy</string>
	<key>exponentInFramework</key>
	<string>textDecoratorMargin</string>
	<key>resourceAroundContext</key>
	<string>queryFlyweightVisibility</string>
</dict>
</plist>
