<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentAroundSystem</key>
	<string>cubeKindInteraction</string>
	<key>explicitFactoryMargin</key>
	<string>routeAboutValue</string>
	<key>getxStageState</key>
	<string>signAlongMediator</string>
	<key>responsivePresenterCount</key>
	<string>anchorLevelValidation</string>
	<key>specifierAtVar</key>
	<string>delegateTempleStatus</string>
	<key>threadWithMemento</key>
	<string>chartFormVisibility</string>
</dict>
</plist>
