<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalCursorRotation</key>
	<string>newestResourceState</string>
	<key>segueSingletonStyle</key>
	<string>reductionOrObserver</string>
	<key>sensorPerContext</key>
	<string>tangentOfWork</string>
	<key>symbolJobOpacity</key>
	<string>keyMissionDirection</string>
	<key>timerInterpreterDensity</key>
	<string>concurrentMetadataHead</string>
</dict>
</plist>
