<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardInjectionRight</key>
	<string>relationalNotifierFormat</string>
	<key>displayableAppbarBound</key>
	<string>sampleParameterBehavior</string>
	<key>immediatePositionVisibility</key>
	<string>desktopObserverDistance</string>
	<key>protocolAboutState</key>
	<string>persistentTransitionName</string>
	<key>radiusForMethod</key>
	<string>threadExceptShape</string>
</dict>
</plist>
