<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineTempleOpacity</key>
	<string>builderWorkInteraction</string>
	<key>hardBoxshadowIndex</key>
	<string>constraintPhaseSize</string>
	<key>listenerMediatorRotation</key>
	<string>asyncShapeHead</string>
</dict>
</plist>
