<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateProxyTheme</key>
	<string>localizationCommandOrientation</string>
	<key>controllerExceptForm</key>
	<string>prismaticMusicSpacing</string>
	<key>eagerViewForce</key>
	<string>comprehensiveCubitRight</string>
	<key>injectionAmongTier</key>
	<string>methodFlyweightInset</string>
	<key>multiplicationAlongProxy</key>
	<string>sineAndDecorator</string>
	<key>robustPainterTransparency</key>
	<string>sliderProxyOrigin</string>
	<key>sliderValueVisibility</key>
	<string>resolverPrototypeValidation</string>
</dict>
</plist>
