<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heroPatternValidation</key>
	<string>elasticCaptionTension</string>
	<key>mediocreBulletBound</key>
	<string>tensorRouteRotation</string>
	<key>reusableExtensionScale</key>
	<string>sortedChannelsStyle</string>
	<key>tickerStageSkewx</key>
	<string>typicalZoneLeft</string>
	<key>transformerInBuffer</key>
	<string>channelMementoInteraction</string>
</dict>
</plist>
