<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSegmentIndex</key>
	<string>mediumModulusResponse</string>
	<key>cardChainContrast</key>
	<string>playbackScopeState</string>
	<key>cupertinoProviderLocation</key>
	<string>roleFrameworkHue</string>
	<key>featureNearDecorator</key>
	<string>tangentMediatorDelay</string>
</dict>
</plist>
