<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectKindDensity</key>
	<string>utilWithBuffer</string>
	<key>marginMementoCount</key>
	<string>pivotalRowTint</string>
	<key>pinchableEventHead</key>
	<string>brushAmongLevel</string>
	<key>progressbarPatternMode</key>
	<string>specifierOrPhase</string>
	<key>queueFunctionFlags</key>
	<string>positionLevelFeedback</string>
	<key>semanticsAroundTier</key>
	<string>mediaFrameworkBorder</string>
	<key>significantReducerKind</key>
	<string>seamlessFragmentPosition</string>
	<key>skinActivityDepth</key>
	<string>equalizationVisitorHead</string>
	<key>slashPhaseSize</key>
	<string>scrollableSensorFeedback</string>
	<key>variantDecoratorRight</key>
	<string>statefulServiceFeedback</string>
</dict>
</plist>
