<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedGramHue</key>
	<string>dynamicStoreInterval</string>
	<key>graphicAndSystem</key>
	<string>decorationUntilLayer</string>
	<key>immutableScrollRight</key>
	<string>lastExceptionFrequency</string>
	<key>previewInsideSingleton</key>
	<string>stackAlongParameter</string>
	<key>repositoryFacadeHue</key>
	<string>usecasePhaseStyle</string>
</dict>
</plist>
