<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileAnimatedcontainerRotation</key>
	<string>offsetPhaseAppearance</string>
	<key>controllerWithoutVar</key>
	<string>immediateHashTension</string>
	<key>lossContainContext</key>
	<string>playbackVersusStyle</string>
	<key>stateFlyweightHue</key>
	<string>menuWithSystem</string>
</dict>
</plist>
