<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerVariableResponse</key>
	<string>constCosineTension</string>
	<key>binaryExceptBridge</key>
	<string>drawerSinceChain</string>
	<key>dynamicAlignmentVelocity</key>
	<string>interpolationChainCenter</string>
	<key>missionCycleEdge</key>
	<string>chartNearFramework</string>
	<key>newestInteractorDepth</key>
	<string>nibAgainstKind</string>
	<key>optimizerProcessTension</key>
	<string>multiplicationBesideOperation</string>
	<key>publicExtensionSpacing</key>
	<string>viewProxyResponse</string>
	<key>signEnvironmentName</key>
	<string>resizableThreadTension</string>
	<key>subscriptionDuringState</key>
	<string>grainBeyondInterpreter</string>
</dict>
</plist>
