<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imperativeBrushEdge</key>
	<string>statelessLayoutDepth</string>
	<key>mapStyleMargin</key>
	<string>mobileBuilderOffset</string>
	<key>resolverDecoratorOrigin</key>
	<string>loopDuringCycle</string>
	<key>statefulStateMargin</key>
	<string>skinInFramework</string>
</dict>
</plist>
