<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandModeOrigin</key>
	<string>sustainableMediaEdge</string>
	<key>completerNearPlatform</key>
	<string>allocatorWithKind</string>
	<key>consultativeButtonSkewy</key>
	<string>marginStructureSpeed</string>
	<key>navigatorInContext</key>
	<string>desktopPageviewMode</string>
	<key>positionProcessBound</key>
	<string>streamContainAdapter</string>
	<key>resourceFrameworkTag</key>
	<string>interfaceScopeVisible</string>
	<key>stackAndMediator</key>
	<string>particleShapeContrast</string>
	<key>subsequentGateTop</key>
	<string>channelsInsideShape</string>
	<key>symmetricPositionVelocity</key>
	<string>workflowBridgeBorder</string>
	<key>widgetModeScale</key>
	<string>transformerStrategyStyle</string>
</dict>
</plist>
