<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryJobSpeed</key>
	<string>segueBeyondMethod</string>
	<key>alertValueVisibility</key>
	<string>numericalLayoutTheme</string>
	<key>beginnerAlignmentPadding</key>
	<string>providerLayerCount</string>
	<key>cubitOfFacade</key>
	<string>missionProcessForce</string>
	<key>graphViaValue</key>
	<string>nativeSymbolKind</string>
	<key>repositoryDespiteComposite</key>
	<string>relationalPrecisionCenter</string>
	<key>routeAmongComposite</key>
	<string>hierarchicalTextfieldRate</string>
	<key>scaleAndMediator</key>
	<string>rectUntilInterpreter</string>
	<key>secondSinkTail</key>
	<string>transitionDuringFramework</string>
	<key>stackVisitorMargin</key>
	<string>particleChainShade</string>
</dict>
</plist>
