<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleActionTail</key>
	<string>similarArithmeticState</string>
	<key>canvasObserverAcceleration</key>
	<string>statelessContainerFormat</string>
	<key>compositionalCaptionOffset</key>
	<string>newestSingletonAcceleration</string>
	<key>hyperbolicTechniqueMomentum</key>
	<string>decorationContainTier</string>
	<key>layoutMethodSpeed</key>
	<string>gridviewForWork</string>
	<key>prismaticExceptionRotation</key>
	<string>usecaseShapeDepth</string>
	<key>responsiveMenuShade</key>
	<string>activeBuilderLocation</string>
	<key>textAmongSingleton</key>
	<string>gramAtTemple</string>
	<key>usageAwayObserver</key>
	<string>draggableRowName</string>
</dict>
</plist>
