<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>momentumKindBound</key>
	<string>fixedGiftAppearance</string>
	<key>scaleNumberVisible</key>
	<string>standaloneThemeDelay</string>
	<key>uniqueProtocolInteraction</key>
	<string>normLikeComposite</string>
</dict>
</plist>
