<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFormAcceleration</key>
	<string>equalizationThanVariable</string>
	<key>granularSkirtAcceleration</key>
	<string>standaloneConstraintSpacing</string>
	<key>queueSinceAdapter</key>
	<string>intensityVersusForm</string>
	<key>scaleCommandTension</key>
	<string>missedStatefulCenter</string>
</dict>
</plist>
