<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredTransformerLocation</key>
	<string>iterativeToolName</string>
	<key>nibAsLevel</key>
	<string>tensorCurveStyle</string>
	<key>resolverTierType</key>
	<string>euclideanLocalizationSpacing</string>
</dict>
</plist>
