<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferTypeDuration</key>
	<string>lazyExceptionShape</string>
	<key>clipperValueTheme</key>
	<string>specifierPlatformDensity</string>
	<key>collectionSystemSkewy</key>
	<string>animatedcontainerInsideTier</string>
	<key>descriptionPerMode</key>
	<string>animatedMediaqueryForce</string>
	<key>effectByVariable</key>
	<string>significantStackVisibility</string>
	<key>labelSinceCommand</key>
	<string>progressbarMementoCenter</string>
	<key>semanticLayoutResponse</key>
	<string>liteSessionSkewy</string>
	<key>semanticsInsideParam</key>
	<string>behaviorParameterTop</string>
</dict>
</plist>
