<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectLikeFacade</key>
	<string>timerValueMode</string>
	<key>deferredPopupTint</key>
	<string>techniqueMediatorDepth</string>
	<key>delegateInsideStrategy</key>
	<string>captionLikeAction</string>
	<key>flexibleDimensionHue</key>
	<string>titleIncludeType</string>
	<key>fragmentBufferForce</key>
	<string>techniqueContextTheme</string>
	<key>heapInsideDecorator</key>
	<string>tableExceptFacade</string>
	<key>overlayAgainstMethod</key>
	<string>semanticRadiusFeedback</string>
	<key>signVersusPattern</key>
	<string>difficultDecorationTransparency</string>
</dict>
</plist>
