<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeGroupLocation</key>
	<string>sinkBufferScale</string>
	<key>borderNearParam</key>
	<string>transformerBeyondDecorator</string>
	<key>compositionalBitrateShade</key>
	<string>disparateGrainFrequency</string>
	<key>featureStrategyContrast</key>
	<string>accessibleScenePressure</string>
	<key>lostGroupDuration</key>
	<string>statefulFutureShade</string>
	<key>normalMemberSpacing</key>
	<string>autoConstraintType</string>
	<key>pivotalLoopOrigin</key>
	<string>reactiveWidgetBrightness</string>
	<key>requestVersusSystem</key>
	<string>taskModeStyle</string>
	<key>widgetPatternPressure</key>
	<string>streamTaskKind</string>
</dict>
</plist>
