<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonInsideProxy</key>
	<string>cardDespiteFlyweight</string>
	<key>convolutionSingletonCount</key>
	<string>mediumArithmeticContrast</string>
	<key>durationLevelOffset</key>
	<string>segmentMethodOrientation</string>
	<key>globalCanvasCoord</key>
	<string>dropdownbuttonNearTemple</string>
	<key>petPerDecorator</key>
	<string>ephemeralRadioOpacity</string>
	<key>resourceDuringInterpreter</key>
	<string>interfaceSinceTier</string>
	<key>swiftAtAdapter</key>
	<string>extensionActionShade</string>
</dict>
</plist>
