<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonErrorTail</key>
	<string>eagerLogarithmBorder</string>
	<key>entityThanBridge</key>
	<string>gridWorkName</string>
	<key>labelFlyweightOffset</key>
	<string>blocBeyondDecorator</string>
	<key>layoutAroundVariable</key>
	<string>animationAgainstFlyweight</string>
	<key>loopSinceMode</key>
	<string>usageParameterPressure</string>
	<key>widgetContainDecorator</key>
	<string>crucialMomentumBehavior</string>
</dict>
</plist>
