<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonVarTheme</key>
	<string>topicProxyTag</string>
	<key>controllerActivityInteraction</key>
	<string>sliderProxyMomentum</string>
	<key>mainCatalystRight</key>
	<string>delicateAxisRotation</string>
	<key>memberMediatorInset</key>
	<string>previewFrameworkTail</string>
	<key>remainderAtAdapter</key>
	<string>missionLikeContext</string>
	<key>singleGiftType</key>
	<string>lostTransitionDelay</string>
</dict>
</plist>
