<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionJobStatus</key>
	<string>presenterVersusPlatform</string>
	<key>completionStyleFrequency</key>
	<string>gestureScopeInterval</string>
	<key>resolverAwayTier</key>
	<string>viewWorkDepth</string>
	<key>swiftFrameworkSaturation</key>
	<string>spriteParamLocation</string>
</dict>
</plist>
