<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTickerDistance</key>
	<string>mediaqueryShapeInterval</string>
	<key>inkwellVersusObserver</key>
	<string>resolverProcessOrientation</string>
	<key>lossNumberSpacing</key>
	<string>navigatorWithoutAction</string>
	<key>providerParamInset</key>
	<string>semanticsBesideTemple</string>
	<key>tweenBeyondLayer</key>
	<string>kernelParamDepth</string>
</dict>
</plist>
