<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedOffsetTop</key>
	<string>chapterStageLeft</string>
	<key>displayableWorkflowForce</key>
	<string>materialAspectAppearance</string>
	<key>immediateLoopState</key>
	<string>constGateShade</string>
	<key>oldCosineMargin</key>
	<string>labelPhaseTag</string>
	<key>priorStatefulLocation</key>
	<string>mediaWithoutMode</string>
	<key>projectWithPhase</key>
	<string>custompaintFormLocation</string>
	<key>stateFlyweightTail</key>
	<string>concreteViewOffset</string>
	<key>swiftProcessVisibility</key>
	<string>effectAtStrategy</string>
</dict>
</plist>
