<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousResourceDepth</key>
	<string>riverpodProcessCenter</string>
	<key>awaitFromBuffer</key>
	<string>activatedDecorationOrigin</string>
	<key>consumerBySingleton</key>
	<string>statefulStatelessDistance</string>
	<key>fusedCycleRight</key>
	<string>directlyMaterialBrightness</string>
	<key>gramInsideValue</key>
	<string>viewAboutFacade</string>
	<key>isolateAndBridge</key>
	<string>pageviewContextTension</string>
	<key>nodeCycleDelay</key>
	<string>eagerDecorationTheme</string>
	<key>resolverFunctionMargin</key>
	<string>controllerVersusStrategy</string>
	<key>secondSpecifierDensity</key>
	<string>uniformTransitionName</string>
	<key>synchronousCaptionInset</key>
	<string>constBlocLocation</string>
</dict>
</plist>
