<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncStyleSpeed</key>
	<string>viewAwayFlyweight</string>
	<key>memberExceptVariable</key>
	<string>futureByPattern</string>
	<key>missionVisitorRotation</key>
	<string>buttonActivityCount</string>
	<key>normalExtensionFormat</key>
	<string>swiftUntilStructure</string>
	<key>widgetBufferType</key>
	<string>swiftLikeJob</string>
</dict>
</plist>
