<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateObserverShade</key>
	<string>drawerCommandContrast</string>
	<key>dynamicOffsetPressure</key>
	<string>cellWithForm</string>
	<key>flexModeSaturation</key>
	<string>sensorStateOpacity</string>
	<key>pinchableGraphicMargin</key>
	<string>callbackDecoratorColor</string>
	<key>rowMediatorHead</key>
	<string>explicitBuilderDistance</string>
</dict>
</plist>
