<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainInteractorDepth</key>
	<string>protocolPatternStatus</string>
	<key>resourceInterpreterMode</key>
	<string>taskTempleSize</string>
	<key>singletonBufferRight</key>
	<string>rectPlatformMode</string>
	<key>tickerWithoutEnvironment</key>
	<string>semanticsAndDecorator</string>
</dict>
</plist>
