<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateLikeParameter</key>
	<string>accessibleStorageForce</string>
	<key>channelsAsFlyweight</key>
	<string>protocolStructureRate</string>
	<key>decorationTierDistance</key>
	<string>navigatorCycleBound</string>
	<key>hierarchicalAlertBrightness</key>
	<string>signFromCommand</string>
	<key>offsetActivitySkewx</key>
	<string>primaryRectAlignment</string>
	<key>oldButtonBorder</key>
	<string>mobileDuringFacade</string>
	<key>similarSpriteResponse</key>
	<string>remainderNearInterpreter</string>
	<key>sliderActionRate</key>
	<string>queryAtKind</string>
</dict>
</plist>
