<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystOrActivity</key>
	<string>visibleScaffoldLocation</string>
	<key>flexibleCertificateVisible</key>
	<string>intermediateLayerType</string>
	<key>statefulAnimationTail</key>
	<string>handlerActivityContrast</string>
</dict>
</plist>
