<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterTierName</key>
	<string>matrixJobDuration</string>
	<key>commandChainOrientation</key>
	<string>accordionEffectRate</string>
	<key>popupFacadeBorder</key>
	<string>routerStateMargin</string>
	<key>tensorHandlerDirection</key>
	<string>projectionDespiteType</string>
</dict>
</plist>
