<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateActionIndex</key>
	<string>rapidChartCenter</string>
	<key>geometricChapterRight</key>
	<string>resilientRepositoryStatus</string>
	<key>giftStageDensity</key>
	<string>eventSingletonDuration</string>
	<key>numericalStampStatus</key>
	<string>themeStrategyForce</string>
	<key>rolePatternVisible</key>
	<string>momentumAmongTemple</string>
	<key>rowIncludeChain</key>
	<string>stateAmongTask</string>
</dict>
</plist>
