<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customOffsetOrientation</key>
	<string>dynamicListenerTail</string>
	<key>desktopContainerTint</key>
	<string>primarySessionDensity</string>
	<key>effectInLayer</key>
	<string>graphExceptPlatform</string>
	<key>repositoryWithoutParameter</key>
	<string>musicContextOpacity</string>
	<key>singletonFlyweightValidation</key>
	<string>binaryAsFunction</string>
	<key>singletonFormOrigin</key>
	<string>immediateLayoutCenter</string>
	<key>unactivatedLoopOrientation</key>
	<string>globalTaskContrast</string>
	<key>widgetOrForm</key>
	<string>capsuleAndParam</string>
</dict>
</plist>
