<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleServiceBottom</key>
	<string>interpolationProxyMomentum</string>
	<key>agileLayoutInset</key>
	<string>projectionStructureColor</string>
	<key>compositionAtJob</key>
	<string>concreteLoopPadding</string>
	<key>diversifiedIntensityShade</key>
	<string>originalInterfaceForce</string>
	<key>pinchableExpandedCenter</key>
	<string>sceneBeyondBridge</string>
	<key>projectionShapeDensity</key>
	<string>optimizerSinceComposite</string>
	<key>spotWithoutAdapter</key>
	<string>errorFunctionSkewx</string>
</dict>
</plist>
