<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerExceptFlyweight</key>
	<string>isolatePrototypeInset</string>
	<key>constTabviewMomentum</key>
	<string>sizeOrScope</string>
	<key>gateDecoratorShape</key>
	<string>gradientContextAlignment</string>
	<key>injectionOfPrototype</key>
	<string>instructionBesideAdapter</string>
	<key>priorityNumberBrightness</key>
	<string>marginAsFramework</string>
	<key>routeScopeEdge</key>
	<string>entityPatternForce</string>
</dict>
</plist>
