<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferInEnvironment</key>
	<string>ternaryAmongVar</string>
	<key>capsuleDuringMethod</key>
	<string>characterAndFramework</string>
	<key>commonGemVisibility</key>
	<string>callbackByTemple</string>
	<key>cubitParameterPosition</key>
	<string>positionedVisitorOffset</string>
	<key>decorationWithCommand</key>
	<string>resourceAwayPattern</string>
	<key>entropyAboutFlyweight</key>
	<string>explicitCapacitiesDelay</string>
	<key>petVisitorRate</key>
	<string>substantialScrollDelay</string>
	<key>scrollableCubeLeft</key>
	<string>requestChainContrast</string>
	<key>titleActivityOrigin</key>
	<string>themeActionShade</string>
</dict>
</plist>
