<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedChainBehavior</key>
	<string>denseTextfieldName</string>
	<key>inactiveSineHue</key>
	<string>extensionStyleFrequency</string>
	<key>materialGraphPressure</key>
	<string>specifierThroughStrategy</string>
	<key>multiErrorFrequency</key>
	<string>painterPrototypeDistance</string>
	<key>skirtPlatformForce</key>
	<string>featureValueVelocity</string>
	<key>tappableUsecaseCoord</key>
	<string>textMementoFormat</string>
	<key>taskMediatorEdge</key>
	<string>desktopLayerOrientation</string>
</dict>
</plist>
