<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseDurationMomentum</key>
	<string>integerThanVar</string>
	<key>metadataTypeVisibility</key>
	<string>tensorScreenDensity</string>
	<key>parallelAllocatorMomentum</key>
	<string>asynchronousSingletonInteraction</string>
	<key>sophisticatedLayerDuration</key>
	<string>signWithoutFacade</string>
</dict>
</plist>
