<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeAlignmentFlags</key>
	<string>transitionExceptEnvironment</string>
	<key>controllerInterpreterOrientation</key>
	<string>workflowBesideContext</string>
	<key>extensionOfVar</key>
	<string>exceptionTypeMomentum</string>
	<key>projectionIncludeWork</key>
	<string>chapterFacadeTint</string>
	<key>subpixelInsideParam</key>
	<string>hashMethodForce</string>
	<key>tabbarSystemLeft</key>
	<string>sharedButtonLocation</string>
</dict>
</plist>
