<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderParameterMode</key>
	<string>hierarchicalSegueRight</string>
	<key>commonInterfaceTension</key>
	<string>presenterDespiteTier</string>
	<key>desktopLabelRight</key>
	<string>consultativeObserverCoord</string>
	<key>draggableReferenceOrigin</key>
	<string>declarativeStackScale</string>
	<key>frameWithEnvironment</key>
	<string>opaqueBrushCoord</string>
	<key>resourceAroundStrategy</key>
	<string>animatedAccessoryTheme</string>
	<key>sliderOutsideTask</key>
	<string>segueSinceTier</string>
	<key>standaloneMobxMode</key>
	<string>mobileViaParameter</string>
	<key>uniqueParticleVelocity</key>
	<string>chartStrategyScale</string>
</dict>
</plist>
