<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultAnimatedcontainerDuration</key>
	<string>sinkAroundForm</string>
	<key>hyperbolicGraphDelay</key>
	<string>layoutTaskScale</string>
	<key>litePopupPressure</key>
	<string>touchAmongPattern</string>
	<key>observerContainStructure</key>
	<string>subpixelAmongObserver</string>
</dict>
</plist>
