<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicProviderTag</key>
	<string>oldPrecisionSize</string>
	<key>checkboxContextCoord</key>
	<string>injectionOutsideActivity</string>
	<key>coordinatorForMethod</key>
	<string>easyRepositorySaturation</string>
	<key>cupertinoPrototypeBrightness</key>
	<string>progressbarAwaySystem</string>
	<key>labelStageType</key>
	<string>stateFromShape</string>
	<key>nextHandlerResponse</key>
	<string>desktopHandlerLocation</string>
	<key>resultInSystem</key>
	<string>cosineBufferDepth</string>
	<key>smallCosinePadding</key>
	<string>entityInComposite</string>
</dict>
</plist>
