<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureSinceStructure</key>
	<string>temporaryGrainTheme</string>
	<key>eventBridgeForce</key>
	<string>transformerNearFramework</string>
	<key>instructionThanPhase</key>
	<string>brushAtProcess</string>
	<key>iterativeNavigatorForce</key>
	<string>riverpodWithAdapter</string>
	<key>popupCycleState</key>
	<string>captionWithoutCommand</string>
	<key>rapidTabbarForce</key>
	<string>methodLikeBridge</string>
	<key>viewOfComposite</key>
	<string>normalFutureLocation</string>
</dict>
</plist>
