<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMobxTop</key>
	<string>mediaWithoutMode</string>
	<key>borderActivityResponse</key>
	<string>interactiveRemainderVisibility</string>
	<key>layoutByContext</key>
	<string>completerByVisitor</string>
	<key>monsterTierFormat</key>
	<string>semanticsNearInterpreter</string>
	<key>pinchablePromiseEdge</key>
	<string>buttonPhaseBehavior</string>
	<key>pointTempleInterval</key>
	<string>durationAlongProcess</string>
	<key>robustFrameInterval</key>
	<string>interactorBeyondVisitor</string>
	<key>viewPatternMode</key>
	<string>alignmentLayerCount</string>
</dict>
</plist>
