<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorNearValue</key>
	<string>symmetricNavigatorTension</string>
	<key>cycleAdapterAppearance</key>
	<string>queueShapeInset</string>
	<key>entityCommandBottom</key>
	<string>specifierVarDelay</string>
	<key>mediocreSpineOffset</key>
	<string>radiusInVar</string>
	<key>staticExpandedTag</key>
	<string>checklistOutsideInterpreter</string>
	<key>usageAwayKind</key>
	<string>columnVarShade</string>
</dict>
</plist>
