<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAboutParam</key>
	<string>titleThanPhase</string>
	<key>painterMethodOrigin</key>
	<string>textureOfLayer</string>
	<key>swiftWorkBottom</key>
	<string>modelLikeAction</string>
	<key>topicStageStatus</key>
	<string>responsiveSinkDuration</string>
	<key>viewForStage</key>
	<string>entropyInsideJob</string>
</dict>
</plist>
