<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedChallengeAlignment</key>
	<string>nativeProgressbarVisible</string>
	<key>swiftThanEnvironment</key>
	<string>axisInsidePrototype</string>
	<key>utilContextIndex</key>
	<string>viewAsProcess</string>
</dict>
</plist>
