<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDespitePattern</key>
	<string>resizableBulletMomentum</string>
	<key>alertScopeDelay</key>
	<string>statefulOutsideEnvironment</string>
	<key>arithmeticAmongStructure</key>
	<string>coordinatorAsForm</string>
	<key>ignoredAllocatorSpacing</key>
	<string>requiredQueryTint</string>
	<key>themeLayerBound</key>
	<string>titleFlyweightPadding</string>
	<key>touchAtAdapter</key>
	<string>mediaquerySingletonFeedback</string>
</dict>
</plist>
