<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStreamInterval</key>
	<string>numericalNavigatorFormat</string>
	<key>axisBeyondFlyweight</key>
	<string>handlerActionIndex</string>
	<key>equipmentDespiteMemento</key>
	<string>projectPlatformPosition</string>
	<key>finalTaskTint</key>
	<string>compositionalContainerShade</string>
	<key>grayscaleAsCycle</key>
	<string>slashForState</string>
	<key>navigatorInterpreterMargin</key>
	<string>viewBeyondState</string>
	<key>priorityInterpreterTheme</key>
	<string>fixedCosineDepth</string>
	<key>providerKindOrientation</key>
	<string>integerActivityBrightness</string>
	<key>resourceOrPlatform</key>
	<string>builderTaskPosition</string>
	<key>unactivatedObserverDensity</key>
	<string>textureAdapterPadding</string>
</dict>
</plist>
