<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitWithoutMediator</key>
	<string>interfaceExceptCommand</string>
	<key>entropyKindTension</key>
	<string>progressbarContainBridge</string>
	<key>spriteActionPadding</key>
	<string>loopVersusInterpreter</string>
</dict>
</plist>
