<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncViaLayer</key>
	<string>grayscaleContextTail</string>
	<key>cardUntilActivity</key>
	<string>actionLayerFlags</string>
	<key>gradientAgainstFacade</key>
	<string>listviewThroughTemple</string>
	<key>marginCommandDistance</key>
	<string>curveThanPattern</string>
	<key>permanentProtocolBottom</key>
	<string>alertFacadeOpacity</string>
	<key>resizableTickerState</key>
	<string>reducerInsideActivity</string>
	<key>semanticVariantSpeed</key>
	<string>discardedDelegateCoord</string>
	<key>topicOrPattern</key>
	<string>tangentDuringProcess</string>
</dict>
</plist>
