<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryScopeDuration</key>
	<string>subpixelOutsideStrategy</string>
	<key>associatedChallengeFlags</key>
	<string>cupertinoViaShape</string>
	<key>cubeDuringFlyweight</key>
	<string>storageTypeAcceleration</string>
	<key>drawerBesideCycle</key>
	<string>repositoryContextFrequency</string>
	<key>equalizationPerAdapter</key>
	<string>intuitiveTouchColor</string>
	<key>labelParameterForce</key>
	<string>constGroupSkewy</string>
	<key>listenerAsParam</key>
	<string>behaviorStateType</string>
	<key>menuDespiteBridge</key>
	<string>serviceAtPrototype</string>
	<key>smartCatalystTop</key>
	<string>typicalCubitOpacity</string>
</dict>
</plist>
