<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedTaskSize</key>
	<string>rowAtPlatform</string>
	<key>popupStrategyBound</key>
	<string>descriptorPerComposite</string>
	<key>positionFlyweightDistance</key>
	<string>radiusUntilEnvironment</string>
	<key>ternaryParamDirection</key>
	<string>backwardChecklistTheme</string>
	<key>textTempleSpeed</key>
	<string>descriptorProcessOpacity</string>
	<key>uniformHeroFrequency</key>
	<string>behaviorActionDistance</string>
</dict>
</plist>
