<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAmongMethod</key>
	<string>isolateObserverIndex</string>
	<key>cardSinceDecorator</key>
	<string>handlerVersusBuffer</string>
	<key>descriptorAdapterMomentum</key>
	<string>mainCupertinoPressure</string>
	<key>labelIncludeMode</key>
	<string>gateProxyFormat</string>
	<key>usageShapeTag</key>
	<string>columnThroughForm</string>
</dict>
</plist>
