<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeResourceHue</key>
	<string>channelLayerFrequency</string>
	<key>discardedZoneEdge</key>
	<string>borderMementoShape</string>
	<key>gemAlongAction</key>
	<string>logarithmBeyondAdapter</string>
	<key>logarithmValueContrast</key>
	<string>effectObserverRate</string>
	<key>projectTypeSaturation</key>
	<string>autoScalePadding</string>
	<key>routeProxyOpacity</key>
	<string>interactiveBlocEdge</string>
	<key>swiftAroundCycle</key>
	<string>popupFacadeResponse</string>
	<key>tweenInVar</key>
	<string>compositionParamIndex</string>
</dict>
</plist>
