<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensivePositionedLeft</key>
	<string>curveAmongProxy</string>
	<key>coordinatorFormSaturation</key>
	<string>projectValueTint</string>
	<key>interactorVariableHead</key>
	<string>invisibleHandlerVisibility</string>
	<key>logContextPadding</key>
	<string>missedServiceSize</string>
	<key>musicInsideMethod</key>
	<string>keyTweenTransparency</string>
	<key>mutableNibInset</key>
	<string>scrollableLossTransparency</string>
	<key>projectionNumberLeft</key>
	<string>contractionKindVelocity</string>
	<key>similarSingletonTheme</key>
	<string>localCaptionTransparency</string>
	<key>singleActionFormat</key>
	<string>disabledObserverState</string>
	<key>streamDuringVariable</key>
	<string>allocatorAtActivity</string>
</dict>
</plist>
