<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoViewType</key>
	<string>priorityTaskLocation</string>
	<key>channelsLevelBound</key>
	<string>requiredUnaryVisibility</string>
	<key>directlyGiftScale</key>
	<string>petVarBrightness</string>
	<key>factoryPerNumber</key>
	<string>synchronousAlignmentCount</string>
	<key>resultBeyondPattern</key>
	<string>materialScopeDistance</string>
	<key>tweenDuringCommand</key>
	<string>composableSpriteDirection</string>
</dict>
</plist>
