<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAroundComposite</key>
	<string>petAboutSingleton</string>
	<key>greatPetInterval</key>
	<string>semanticSizeForce</string>
	<key>listviewEnvironmentTint</key>
	<string>firstModalShape</string>
	<key>mediumAccessoryRate</key>
	<string>subsequentPreviewInteraction</string>
	<key>newestTickerIndex</key>
	<string>zoneVariableIndex</string>
	<key>pinchableHashDelay</key>
	<string>effectSingletonDepth</string>
	<key>providerDespiteOperation</key>
	<string>imperativeMethodInterval</string>
	<key>respectiveTweenTheme</key>
	<string>zoneStrategyInset</string>
	<key>spotFrameworkOpacity</key>
	<string>routeNearTier</string>
	<key>zoneBesideShape</key>
	<string>modulusIncludeParam</string>
</dict>
</plist>
