<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateSystemPressure</key>
	<string>sliderBesideMethod</string>
	<key>grayscaleBufferLeft</key>
	<string>sortedNotifierBorder</string>
	<key>inactiveEventHead</key>
	<string>axisWithoutFlyweight</string>
	<key>numericalRemainderTail</key>
	<string>symmetricResultForce</string>
	<key>observerWithoutInterpreter</key>
	<string>buttonUntilMediator</string>
	<key>positionFromStructure</key>
	<string>textureBeyondObserver</string>
	<key>prismaticMemberHead</key>
	<string>firstRoleSize</string>
	<key>webBaseMargin</key>
	<string>resourceStateSkewx</string>
	<key>workflowPhasePressure</key>
	<string>radiusAmongMode</string>
	<key>workflowPhaseStatus</key>
	<string>spriteBeyondStructure</string>
</dict>
</plist>
