<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoFragmentSpeed</key>
	<string>loopThroughCommand</string>
	<key>brushCompositeEdge</key>
	<string>sortedThemeTag</string>
	<key>difficultMovementLeft</key>
	<string>globalRouterTransparency</string>
	<key>entropyAboutType</key>
	<string>entropyOperationOffset</string>
	<key>repositoryTaskEdge</key>
	<string>missionThanPattern</string>
	<key>widgetParamTransparency</key>
	<string>positionedAlongStage</string>
</dict>
</plist>
