<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerStyleType</key>
	<string>anchorCycleFeedback</string>
	<key>durationAroundAction</key>
	<string>gridviewOfPlatform</string>
	<key>finalCharacterTop</key>
	<string>movementLikeBridge</string>
	<key>functionalGestureBottom</key>
	<string>reactiveCollectionVisible</string>
	<key>modelMethodColor</key>
	<string>checkboxInsideVariable</string>
	<key>rectOfKind</key>
	<string>accordionLocalizationFrequency</string>
	<key>storeAsSingleton</key>
	<string>fixedAsyncBehavior</string>
	<key>subsequentRichtextPosition</key>
	<string>configurationVersusDecorator</string>
</dict>
</plist>
