<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationDespiteFacade</key>
	<string>constraintProxyRight</string>
	<key>controllerInsideParameter</key>
	<string>synchronousIndicatorTint</string>
	<key>coordinatorObserverSkewy</key>
	<string>segueInsideAdapter</string>
	<key>finalSinkTint</key>
	<string>managerContainOperation</string>
	<key>modalInsideTier</key>
	<string>explicitReducerFeedback</string>
	<key>pointValueOrigin</key>
	<string>sharedAlertSize</string>
	<key>popupForLayer</key>
	<string>reductionStrategyDistance</string>
	<key>tabviewInsideForm</key>
	<string>dynamicListenerFrequency</string>
	<key>variantScopeOpacity</key>
	<string>blocSinceBridge</string>
	<key>workflowNumberHue</key>
	<string>navigatorExceptStructure</string>
</dict>
</plist>
