<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineFromAction</key>
	<string>inactiveSampleEdge</string>
	<key>gateOfState</key>
	<string>intuitiveChartShape</string>
	<key>lazySpriteFrequency</key>
	<string>nextErrorPadding</string>
	<key>prismaticIntegerMomentum</key>
	<string>navigatorContainChain</string>
	<key>sequentialExceptionTint</key>
	<string>mobileActionMode</string>
	<key>serviceFacadeAppearance</key>
	<string>graphDespiteContext</string>
	<key>tweenSinceNumber</key>
	<string>cardForState</string>
</dict>
</plist>
