<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cycleWithoutContext</key>
	<string>managerWithJob</string>
	<key>disabledCommandDuration</key>
	<string>catalystPerState</string>
	<key>loopModeTension</key>
	<string>delicateGroupRight</string>
	<key>seamlessStepHead</key>
	<string>directlySinkName</string>
</dict>
</plist>
