<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPrototypeSpacing</key>
	<string>vectorContainFramework</string>
	<key>graphNearEnvironment</key>
	<string>methodMementoAcceleration</string>
	<key>interactiveTransitionLeft</key>
	<string>arithmeticPreviewSaturation</string>
	<key>liteCurveTint</key>
	<string>aspectInsideStage</string>
	<key>rectForStyle</key>
	<string>stampTempleInterval</string>
	<key>rowVersusKind</key>
	<string>particleCompositeRotation</string>
	<key>sustainableOverlayValidation</key>
	<string>stateDuringVariable</string>
	<key>tweenBridgeTop</key>
	<string>rowSystemTransparency</string>
</dict>
</plist>
