<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystVisitorState</key>
	<string>typicalCapacitiesPosition</string>
	<key>intensityVariableStyle</key>
	<string>gestureChainSpacing</string>
	<key>missionLayerFlags</key>
	<string>keyBuilderOpacity</string>
	<key>permanentEntityOffset</key>
	<string>mediaAsFlyweight</string>
	<key>popupOrStyle</key>
	<string>intermediateStorageTop</string>
	<key>precisionDespiteScope</key>
	<string>significantCharacterBrightness</string>
	<key>rectShapeCenter</key>
	<string>cosineThanStage</string>
	<key>sequentialViewVisible</key>
	<string>providerPrototypeFrequency</string>
	<key>stampIncludeVariable</key>
	<string>specifyAssetState</string>
</dict>
</plist>
