<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSpotForce</key>
	<string>iterativeSignSkewx</string>
	<key>batchStrategyLocation</key>
	<string>aspectFormInteraction</string>
	<key>controllerByStyle</key>
	<string>effectExceptAction</string>
	<key>effectPhaseVisible</key>
	<string>durationKindDepth</string>
	<key>listenerWithState</key>
	<string>memberVarBottom</string>
	<key>mapDecoratorTransparency</key>
	<string>resourceInEnvironment</string>
	<key>progressbarForChain</key>
	<string>dependencyThroughVar</string>
	<key>transformerFacadeTint</key>
	<string>positionThanEnvironment</string>
	<key>usedInterpolationAppearance</key>
	<string>imperativeNotifierBorder</string>
</dict>
</plist>
