<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheIncludeFramework</key>
	<string>cursorOrLevel</string>
	<key>curveChainInterval</key>
	<string>listenerAboutComposite</string>
	<key>injectionFrameworkBound</key>
	<string>gramVersusMediator</string>
	<key>interfaceAwayType</key>
	<string>materialPlaybackAppearance</string>
	<key>largeDurationStatus</key>
	<string>difficultBorderCount</string>
	<key>mediaqueryStateKind</key>
	<string>textCycleAppearance</string>
	<key>tweenStageResponse</key>
	<string>compositionDecoratorDelay</string>
</dict>
</plist>
