<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioDespitePattern</key>
	<string>cosineAroundSystem</string>
	<key>brushDecoratorScale</key>
	<string>shaderShapeTop</string>
	<key>commandFromJob</key>
	<string>standaloneIsolateBehavior</string>
	<key>curveFunctionDirection</key>
	<string>compositionalTickerDepth</string>
	<key>labelTierDistance</key>
	<string>frameStateSkewy</string>
	<key>memberShapeLeft</key>
	<string>nextTabviewTint</string>
	<key>viewLevelScale</key>
	<string>lazyOffsetVisibility</string>
</dict>
</plist>
