<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionInVar</key>
	<string>transformerExceptPrototype</string>
	<key>allocatorFlyweightOrigin</key>
	<string>cubitKindPadding</string>
	<key>convolutionFromVar</key>
	<string>entityStyleShade</string>
	<key>notifierDecoratorInterval</key>
	<string>crucialSpineRate</string>
	<key>priorityViaLevel</key>
	<string>functionalCompleterBound</string>
	<key>radioIncludeStage</key>
	<string>prevModalSkewx</string>
	<key>vectorNumberDepth</key>
	<string>permanentMethodStatus</string>
</dict>
</plist>
