<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resourceLikeComposite</key>
	<string>coordinatorLikeChain</string>
	<key>responsiveGridviewScale</key>
	<string>navigationSingletonSize</string>
	<key>scrollParamPressure</key>
	<string>queryViaFacade</string>
	<key>seamlessPresenterRotation</key>
	<string>histogramOrVariable</string>
	<key>sliderThanAction</key>
	<string>constraintScopeCenter</string>
	<key>specifierBesideDecorator</key>
	<string>stateWithAction</string>
	<key>titleOfEnvironment</key>
	<string>completerShapeStyle</string>
</dict>
</plist>
