<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocPerParam</key>
	<string>listenerLayerBrightness</string>
	<key>deferredMobxType</key>
	<string>priorityLayerPressure</string>
	<key>delegateContainLayer</key>
	<string>uniqueEffectHue</string>
	<key>graphSincePhase</key>
	<string>significantCompleterSpeed</string>
	<key>gridTypeValidation</key>
	<string>staticLabelFlags</string>
	<key>resultDespiteShape</key>
	<string>lastMasterLeft</string>
	<key>routePhaseFeedback</key>
	<string>cupertinoProxyTop</string>
	<key>storageContainMediator</key>
	<string>tweenNumberMode</string>
	<key>storyboardSinceStyle</key>
	<string>clipperPatternBorder</string>
</dict>
</plist>
