<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAsStructure</key>
	<string>invisibleModelTail</string>
	<key>currentModelKind</key>
	<string>arithmeticJobDepth</string>
	<key>interactorActionInset</key>
	<string>tableStructureBehavior</string>
	<key>monsterAndStrategy</key>
	<string>clipperAwaySingleton</string>
	<key>musicVersusStage</key>
	<string>graphAwayVisitor</string>
	<key>observerNearOperation</key>
	<string>publicStatefulRotation</string>
	<key>semanticCurveIndex</key>
	<string>channelsUntilInterpreter</string>
	<key>textTempleLocation</key>
	<string>routeScopeFeedback</string>
</dict>
</plist>
