<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitViaStage</key>
	<string>exponentProxyIndex</string>
	<key>durationCycleInteraction</key>
	<string>responsiveTextTail</string>
	<key>gridSinceFunction</key>
	<string>curveNearVar</string>
	<key>mediaWithoutAction</key>
	<string>dynamicAnchorShade</string>
	<key>observerInterpreterTension</key>
	<string>sequentialSpriteCenter</string>
	<key>resultAsType</key>
	<string>immutableScreenDelay</string>
	<key>sampleMediatorVelocity</key>
	<string>metadataPrototypeCenter</string>
	<key>storyboardNumberLocation</key>
	<string>scrollableCurveRight</string>
</dict>
</plist>
