<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyProxyDelay</key>
	<string>numericalListenerFrequency</string>
	<key>graphicJobTint</key>
	<string>similarCompleterBottom</string>
	<key>loopLevelFrequency</key>
	<string>activeSessionCoord</string>
	<key>sensorAtMode</key>
	<string>overlayBeyondPattern</string>
	<key>titleActionBorder</key>
	<string>immediateSliderColor</string>
</dict>
</plist>
