<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisInsideParam</key>
	<string>cycleAdapterMomentum</string>
	<key>durationPerOperation</key>
	<string>screenShapeDistance</string>
	<key>heroWithoutNumber</key>
	<string>consultativeGateCenter</string>
	<key>loopKindDensity</key>
	<string>nativeChannelDensity</string>
	<key>matrixScopeDuration</key>
	<string>baseAboutBridge</string>
	<key>originalNavigatorShape</key>
	<string>routeExceptForm</string>
	<key>rapidTimerStyle</key>
	<string>offsetAroundAdapter</string>
	<key>sineDuringBridge</key>
	<string>sharedSpineVelocity</string>
	<key>tensorMobileSize</key>
	<string>displayableConstraintSpacing</string>
	<key>unsortedIndicatorScale</key>
	<string>slashPrototypeOffset</string>
</dict>
</plist>
