<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionObserverDepth</key>
	<string>textfieldMethodOffset</string>
	<key>batchSingletonHead</key>
	<string>baselineLevelDirection</string>
	<key>capacitiesInterpreterAppearance</key>
	<string>uniformSceneState</string>
	<key>controllerStageStatus</key>
	<string>inactiveViewStatus</string>
	<key>difficultIntegerOrientation</key>
	<string>crucialGroupLocation</string>
	<key>nativeDocumentDirection</key>
	<string>controllerPatternRight</string>
	<key>reactiveTransitionName</key>
	<string>protocolInterpreterTheme</string>
	<key>resilientBoxshadowOrientation</key>
	<string>gestureBeyondProcess</string>
</dict>
</plist>
