<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedRadiusHue</key>
	<string>directThemeDistance</string>
	<key>lastAspectVelocity</key>
	<string>isolateAlongProcess</string>
	<key>listviewIncludeAdapter</key>
	<string>iconModeBound</string>
	<key>normalInteractorTransparency</key>
	<string>axisIncludeStrategy</string>
	<key>particleUntilKind</key>
	<string>operationFlyweightColor</string>
	<key>queueLikeStyle</key>
	<string>fragmentAtMemento</string>
	<key>riverpodInterpreterType</key>
	<string>globalGraphType</string>
	<key>textureNumberTension</key>
	<string>stackLikeMode</string>
	<key>tweenNumberDensity</key>
	<string>futureValueKind</string>
</dict>
</plist>
