<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocProxyRate</key>
	<string>smartProjectionTag</string>
	<key>decorationTaskValidation</key>
	<string>workflowLikePhase</string>
	<key>easyInteractorIndex</key>
	<string>flexibleSizedboxFrequency</string>
	<key>retainedTextPadding</key>
	<string>movementAmongMethod</string>
	<key>semanticNotifierInset</key>
	<string>grainFromMode</string>
	<key>tabviewAboutInterpreter</key>
	<string>crucialDropdownbuttonTop</string>
	<key>viewTempleDuration</key>
	<string>toolProcessType</string>
</dict>
</plist>
