<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAndLevel</key>
	<string>slashWithoutProxy</string>
	<key>backwardStatefulScale</key>
	<string>asynchronousBlocInteraction</string>
	<key>consultativeObserverInterval</key>
	<string>rapidApertureTag</string>
	<key>futureByOperation</key>
	<string>usagePatternRate</string>
	<key>mutableInteractorShade</key>
	<string>symbolThroughStage</string>
	<key>resilientBufferFrequency</key>
	<string>logAboutActivity</string>
	<key>spotIncludeParameter</key>
	<string>commandVisitorInterval</string>
</dict>
</plist>
