<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderWorkOpacity</key>
	<string>mainGrainIndex</string>
	<key>composableAnchorTheme</key>
	<string>pointStageColor</string>
	<key>containerInWork</key>
	<string>iterativeModulusBorder</string>
	<key>paddingFrameworkTransparency</key>
	<string>sensorPrototypeSpacing</string>
	<key>requiredDependencyStyle</key>
	<string>dimensionAsProxy</string>
	<key>routerModeLocation</key>
	<string>previewDecoratorHue</string>
	<key>taskCommandFrequency</key>
	<string>declarativeLogarithmSpeed</string>
	<key>utilVariableInset</key>
	<string>borderParameterBottom</string>
</dict>
</plist>
