<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocStyleDepth</key>
	<string>missionAtScope</string>
	<key>handlerFunctionTheme</key>
	<string>effectBufferInteraction</string>
	<key>independentPageviewIndex</key>
	<string>cubitPerPrototype</string>
	<key>parallelViewAlignment</key>
	<string>transitionOperationBorder</string>
	<key>richtextCommandCenter</key>
	<string>customDescriptorVelocity</string>
	<key>semanticsMethodLeft</key>
	<string>widgetLikeTemple</string>
	<key>serviceShapeBehavior</key>
	<string>chapterBesideOperation</string>
	<key>standaloneTextDensity</key>
	<string>expandedLevelColor</string>
</dict>
</plist>
