<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeNibDirection</key>
	<string>delicateFragmentLocation</string>
	<key>animatedcontainerAroundFlyweight</key>
	<string>storeMementoShade</string>
	<key>assetIncludeValue</key>
	<string>animatedcontainerActivityHue</string>
	<key>elasticTimerDensity</key>
	<string>tweenMementoInteraction</string>
	<key>remainderExceptContext</key>
	<string>radiusProxyHead</string>
	<key>statefulLayoutTag</key>
	<string>isolateVarAppearance</string>
	<key>streamDespiteWork</key>
	<string>extensionLayerDepth</string>
	<key>visibleReferenceCount</key>
	<string>subsequentActionTint</string>
</dict>
</plist>
