<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousCharacterShade</key>
	<string>invisibleGraphicPadding</string>
	<key>factoryAmongShape</key>
	<string>unaryEnvironmentOrigin</string>
	<key>heroVariableRight</key>
	<string>sineShapeTail</string>
	<key>liteCaptionPosition</key>
	<string>animatedTextRight</string>
	<key>routeModeHead</key>
	<string>storageInStrategy</string>
	<key>sampleChainName</key>
	<string>largeGradientIndex</string>
</dict>
</plist>
