<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorKindFrequency</key>
	<string>numericalChartSaturation</string>
	<key>localMasterBrightness</key>
	<string>buttonKindShape</string>
	<key>reducerProxyDirection</key>
	<string>finalChannelsVisibility</string>
	<key>robustTimerFormat</key>
	<string>heapAroundTemple</string>
	<key>semanticSkinRight</key>
	<string>mobileResolverScale</string>
	<key>themeNumberName</key>
	<string>temporaryNavigatorBorder</string>
</dict>
</plist>
