<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryFrameworkBottom</key>
	<string>agileRichtextDepth</string>
	<key>animationOperationBrightness</key>
	<string>localCycleCenter</string>
	<key>boxshadowAmongCycle</key>
	<string>managerWorkName</string>
	<key>chartOrContext</key>
	<string>painterAboutBuffer</string>
	<key>constShaderTheme</key>
	<string>effectFrameworkMomentum</string>
	<key>rapidUsecaseDensity</key>
	<string>entropyByComposite</string>
	<key>scrollBeyondStrategy</key>
	<string>awaitMediatorCenter</string>
</dict>
</plist>
