<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAmongKind</key>
	<string>scrollTypeTop</string>
	<key>channelsViaShape</key>
	<string>significantMusicSpeed</string>
	<key>collectionBesideStrategy</key>
	<string>composableGrayscaleName</string>
	<key>gradientAroundSystem</key>
	<string>disparateClipperInteraction</string>
	<key>histogramStateInset</key>
	<string>blocAndFunction</string>
	<key>navigatorThroughFlyweight</key>
	<string>ternaryTempleCenter</string>
	<key>significantResolverDuration</key>
	<string>reducerShapeRight</string>
	<key>spriteCompositeDelay</key>
	<string>reducerNearVisitor</string>
	<key>tweenVersusParam</key>
	<string>interactiveExtensionPosition</string>
</dict>
</plist>
