<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeMasterScale</key>
	<string>methodVisitorAlignment</string>
	<key>chartMediatorState</key>
	<string>difficultGrainInteraction</string>
	<key>checklistTaskMargin</key>
	<string>actionAboutParam</string>
	<key>constObserverFlags</key>
	<string>ternaryOperationDensity</string>
	<key>decorationTempleKind</key>
	<string>modelMementoRate</string>
	<key>dependencyKindDistance</key>
	<string>storageLevelTransparency</string>
	<key>notifierMethodContrast</key>
	<string>protectedUtilTop</string>
	<key>prevBorderCount</key>
	<string>storageSystemDistance</string>
	<key>ternaryOrChain</key>
	<string>streamThroughFunction</string>
	<key>widgetStructureRight</key>
	<string>sliderScopeSpacing</string>
</dict>
</plist>
