<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAtPattern</key>
	<string>multiPresenterVisibility</string>
	<key>composableNavigatorKind</key>
	<string>managerAgainstPrototype</string>
	<key>criticalSampleSpacing</key>
	<string>smartMetadataBottom</string>
	<key>durationDespiteVariable</key>
	<string>functionalContainerForce</string>
	<key>gridviewShapeInteraction</key>
	<string>commandAdapterState</string>
	<key>indicatorViaCycle</key>
	<string>momentumVarPressure</string>
	<key>layerLevelPosition</key>
	<string>loopPatternInteraction</string>
	<key>newestTransformerCount</key>
	<string>resizableUtilForce</string>
	<key>topicFromLevel</key>
	<string>difficultProviderStyle</string>
</dict>
</plist>
