<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedProjectRight</key>
	<string>robustDependencyType</string>
	<key>modulusEnvironmentScale</key>
	<string>firstChecklistCoord</string>
	<key>originalControllerType</key>
	<string>mapFromOperation</string>
	<key>sizeStrategySaturation</key>
	<string>baseThroughLayer</string>
	<key>tangentFromObserver</key>
	<string>iterativeOverlayContrast</string>
	<key>topicAndProcess</key>
	<string>skinBridgeSpacing</string>
	<key>unsortedCubePressure</key>
	<string>dynamicSegmentResponse</string>
</dict>
</plist>
