<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintActivityPadding</key>
	<string>chapterAsMode</string>
	<key>diversifiedShaderType</key>
	<string>featureShapeBehavior</string>
	<key>functionalScreenForce</key>
	<string>concurrentHeapStyle</string>
	<key>smartRouteTint</key>
	<string>presenterProxyMargin</string>
	<key>subpixelStateStatus</key>
	<string>specifyRoutePadding</string>
	<key>subtleBaselineStatus</key>
	<string>stackWithVar</string>
</dict>
</plist>
