<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedAlignmentColor</key>
	<string>similarResolverDepth</string>
	<key>listviewScopeFlags</key>
	<string>diffableCallbackSize</string>
	<key>optimizerOfOperation</key>
	<string>priorTernaryColor</string>
	<key>routeObserverForce</key>
	<string>sharedBufferRotation</string>
	<key>spineVariableCount</key>
	<string>spriteValueVisibility</string>
	<key>timerFrameworkState</key>
	<string>significantDelegatePosition</string>
	<key>uniformPainterCount</key>
	<string>crucialButtonCenter</string>
</dict>
</plist>
