<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorStrategyBottom</key>
	<string>integerStrategyResponse</string>
	<key>entityWithVariable</key>
	<string>frameChainStyle</string>
	<key>iconDespitePlatform</key>
	<string>lastDurationVelocity</string>
	<key>mediaqueryMediatorStyle</key>
	<string>sophisticatedTableState</string>
	<key>modelPerBuffer</key>
	<string>durationOfComposite</string>
	<key>positionedPerVisitor</key>
	<string>comprehensiveCatalystPressure</string>
	<key>profileOfFlyweight</key>
	<string>keyClipperInterval</string>
</dict>
</plist>
