<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitFormPadding</key>
	<string>drawerVarInset</string>
	<key>resourceWithoutInterpreter</key>
	<string>themeIncludeStructure</string>
	<key>robustStreamInteraction</key>
	<string>segmentActionAppearance</string>
	<key>tweenForStyle</key>
	<string>retainedMomentumResponse</string>
</dict>
</plist>
