<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTypeColor</key>
	<string>modalOutsideContext</string>
	<key>customProviderDelay</key>
	<string>tabviewMementoLeft</string>
	<key>stateStructureColor</key>
	<string>stateWithoutFlyweight</string>
	<key>statefulExceptionName</key>
	<string>dependencyAndMethod</string>
</dict>
</plist>
