<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentIncludeParameter</key>
	<string>mobxByVariable</string>
	<key>coordinatorObserverTension</key>
	<string>methodCompositeEdge</string>
	<key>curveExceptVariable</key>
	<string>primaryRowTail</string>
	<key>equipmentAroundVariable</key>
	<string>inactiveControllerBorder</string>
	<key>histogramLevelAlignment</key>
	<string>deferredQueryAcceleration</string>
	<key>keyResultMargin</key>
	<string>memberLikeChain</string>
	<key>managerWithoutFacade</key>
	<string>instructionVisitorTheme</string>
	<key>numericalFrameRight</key>
	<string>textThroughStrategy</string>
	<key>progressbarAdapterShape</key>
	<string>symmetricObserverRotation</string>
	<key>requiredStatelessLocation</key>
	<string>unsortedDelegateCount</string>
</dict>
</plist>
