<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedIntegerName</key>
	<string>transitionExceptType</string>
	<key>crudeDelegateAlignment</key>
	<string>apertureVersusBridge</string>
	<key>marginFromComposite</key>
	<string>resilientSkinFlags</string>
	<key>resizableRouteMomentum</key>
	<string>deferredDescriptorTail</string>
	<key>subpixelProxyPosition</key>
	<string>actionNumberTension</string>
	<key>variantAlongContext</key>
	<string>accordionOverlayStyle</string>
</dict>
</plist>
