<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstWidgetBottom</key>
	<string>elasticMethodLeft</string>
	<key>profileCommandTension</key>
	<string>drawerMementoLocation</string>
	<key>responsePlatformRotation</key>
	<string>precisionFormColor</string>
	<key>sceneAndTier</key>
	<string>textWorkOrientation</string>
	<key>standaloneResultStatus</key>
	<string>monsterBridgeTension</string>
</dict>
</plist>
