<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActionDistance</key>
	<string>mutableReductionBound</string>
	<key>associatedButtonDirection</key>
	<string>memberAmongFacade</string>
	<key>composableCupertinoSpeed</key>
	<string>interfaceMethodSkewx</string>
	<key>featureByState</key>
	<string>animatedcontainerUntilMemento</string>
	<key>featureStateVisible</key>
	<string>mediaParamContrast</string>
	<key>lossInsideProcess</key>
	<string>dedicatedGateFlags</string>
	<key>oldProfileTag</key>
	<string>gestureLikeAction</string>
	<key>sampleLikeObserver</key>
	<string>resultDecoratorStyle</string>
	<key>semanticGraphShape</key>
	<string>relationalCanvasTag</string>
</dict>
</plist>
