<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDropdownbuttonBorder</key>
	<string>alignmentPerFramework</string>
	<key>configurationWithFacade</key>
	<string>menuAlongVariable</string>
	<key>heroLikeScope</key>
	<string>containerInParam</string>
	<key>inkwellOutsideDecorator</key>
	<string>consumerThroughTemple</string>
	<key>newestGraphDepth</key>
	<string>navigatorProxyHead</string>
	<key>spineBufferStyle</key>
	<string>queueForStyle</string>
</dict>
</plist>
