<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNearProcess</key>
	<string>specifyHandlerInset</string>
	<key>buttonByEnvironment</key>
	<string>grayscalePerInterpreter</string>
	<key>completionShapeBehavior</key>
	<string>missionAndComposite</string>
	<key>mutableViewDirection</key>
	<string>symbolTempleShade</string>
	<key>permissiveScreenTop</key>
	<string>alphaContainFramework</string>
	<key>responseCycleDuration</key>
	<string>navigatorInsideOperation</string>
	<key>responsiveClipperBorder</key>
	<string>dependencyAmongParam</string>
	<key>serviceThanPrototype</key>
	<string>vectorJobInterval</string>
	<key>sizeTaskKind</key>
	<string>usecaseShapeAppearance</string>
	<key>topicVisitorSpeed</key>
	<string>channelPrototypeTransparency</string>
</dict>
</plist>
