<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonPositionInset</key>
	<string>currentGramRate</string>
	<key>containerMethodHead</key>
	<string>bitratePrototypeTop</string>
	<key>delegateSingletonBrightness</key>
	<string>clipperOperationOrientation</string>
	<key>hierarchicalQueueKind</key>
	<string>errorTempleSkewy</string>
	<key>routeValueSaturation</key>
	<string>resourceObserverDepth</string>
	<key>scaleLikeFacade</key>
	<string>giftScopeTension</string>
	<key>textfieldOperationOrigin</key>
	<string>boxAgainstObserver</string>
	<key>transformerLevelTop</key>
	<string>tappableSegueOrigin</string>
</dict>
</plist>
