<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorObserverPosition</key>
	<string>providerThroughForm</string>
	<key>asyncInkwellTail</key>
	<string>sizedboxStyleTag</string>
	<key>behaviorBufferForce</key>
	<string>controllerDecoratorTop</string>
	<key>boxFlyweightTop</key>
	<string>histogramBesideSingleton</string>
	<key>boxshadowCommandIndex</key>
	<string>binaryCommandSkewy</string>
	<key>coordinatorTempleBorder</key>
	<string>stackOfComposite</string>
	<key>descriptionMementoEdge</key>
	<string>accordionGesturedetectorTheme</string>
	<key>futureAdapterVisibility</key>
	<string>channelDecoratorTop</string>
	<key>interfaceKindShape</key>
	<string>repositoryParameterInterval</string>
	<key>mediocreMenuSize</key>
	<string>basicInstructionName</string>
</dict>
</plist>
