<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandFacadeVisible</key>
	<string>intensityAroundForm</string>
	<key>delicateMatrixType</key>
	<string>cubitThanKind</string>
	<key>gestureWithBridge</key>
	<string>backwardMenuAlignment</string>
	<key>giftExceptLayer</key>
	<string>builderStyleHue</string>
	<key>hardSymbolOffset</key>
	<string>priorityStateLeft</string>
	<key>resourceFromStage</key>
	<string>sliderContainChain</string>
	<key>richtextAlongStructure</key>
	<string>missedIsolateShape</string>
</dict>
</plist>
