<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitLayerSpacing</key>
	<string>chapterMethodDepth</string>
	<key>durationBeyondKind</key>
	<string>routeProcessVisibility</string>
	<key>singletonAmongParam</key>
	<string>listenerTierFlags</string>
	<key>statelessRowMode</key>
	<string>animationBesideScope</string>
	<key>swiftDecoratorCoord</key>
	<string>stepAmongMediator</string>
	<key>variantMethodSkewx</key>
	<string>queryPhaseColor</string>
</dict>
</plist>
