<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellFormKind</key>
	<string>eventInScope</string>
	<key>delicateAssetOpacity</key>
	<string>subpixelParameterRotation</string>
	<key>lazyIconName</key>
	<string>adaptiveModelTag</string>
	<key>presenterLikeMediator</key>
	<string>cacheIncludeParameter</string>
	<key>reducerInValue</key>
	<string>screenAmongScope</string>
	<key>routerPlatformBottom</key>
	<string>futureInFramework</string>
	<key>stateEnvironmentPosition</key>
	<string>transitionActionVisible</string>
</dict>
</plist>
