<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedTitleDirection</key>
	<string>builderBesideLevel</string>
	<key>lazyObserverTheme</key>
	<string>riverpodVisitorLeft</string>
	<key>subscriptionContainJob</key>
	<string>grainFormEdge</string>
	<key>tweenDecoratorAppearance</key>
	<string>cacheBeyondParam</string>
</dict>
</plist>
