<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCommandPressure</key>
	<string>memberAboutNumber</string>
	<key>concurrentInteractorOrientation</key>
	<string>riverpodParamMargin</string>
	<key>overlayAboutParam</key>
	<string>variantLevelForce</string>
	<key>particleInsideBridge</key>
	<string>sliderAboutTemple</string>
	<key>transitionOfSingleton</key>
	<string>momentumBeyondTier</string>
	<key>uniformCompleterRate</key>
	<string>unactivatedGrainMode</string>
	<key>utilSingletonSpacing</key>
	<string>commonModelColor</string>
</dict>
</plist>
