<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorForCycle</key>
	<string>apertureOutsidePattern</string>
	<key>catalystObserverName</key>
	<string>resourceTierTag</string>
	<key>crucialDurationInterval</key>
	<string>pinchableStoreBehavior</string>
	<key>displayableMaterialCenter</key>
	<string>tensorProfileTint</string>
	<key>euclideanMonsterBrightness</key>
	<string>seamlessPromiseFrequency</string>
	<key>hierarchicalSliderInset</key>
	<string>sequentialReducerVisibility</string>
	<key>interactorSystemShape</key>
	<string>relationalInteractorState</string>
	<key>largeCheckboxPadding</key>
	<string>prismaticBehaviorFormat</string>
	<key>managerAtProxy</key>
	<string>axisAlongCycle</string>
	<key>robustDecorationShape</key>
	<string>momentumCommandPosition</string>
</dict>
</plist>
