<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetDuringContext</key>
	<string>denseControllerType</string>
	<key>awaitNearPattern</key>
	<string>graphDecoratorLocation</string>
	<key>basicRepositorySize</key>
	<string>layoutFrameworkDelay</string>
	<key>completionAgainstFramework</key>
	<string>completerModeStatus</string>
	<key>contractionNearSingleton</key>
	<string>notifierNumberStyle</string>
	<key>directInterfaceScale</key>
	<string>zoneStyleRate</string>
	<key>entropyModeResponse</key>
	<string>providerMethodName</string>
	<key>mediumAspectratioMomentum</key>
	<string>topicTaskTheme</string>
	<key>resolverActionType</key>
	<string>imageLikeProcess</string>
	<key>segueAwayFlyweight</key>
	<string>subsequentGesturedetectorName</string>
</dict>
</plist>
