<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadataFromType</key>
	<string>utilAmongNumber</string>
	<key>requiredVectorEdge</key>
	<string>optionVariablePressure</string>
	<key>tensorPopupCount</key>
	<string>customizedDialogsRight</string>
</dict>
</plist>
