<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSystemDelay</key>
	<string>constPrecisionAppearance</string>
	<key>cartesianGridForce</key>
	<string>factoryByLayer</string>
	<key>elasticDependencyRotation</key>
	<string>reducerOfVariable</string>
	<key>numericalTransitionCount</key>
	<string>rectProxyBound</string>
	<key>sortedTransitionHue</key>
	<string>giftNumberShape</string>
	<key>statelessPlaybackName</key>
	<string>handlerDuringPlatform</string>
	<key>zoneThanType</key>
	<string>basicPopupSpacing</string>
</dict>
</plist>
