<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedSliderFormat</key>
	<string>consultativeIntensityOrigin</string>
	<key>concurrentSliderAppearance</key>
	<string>cycleThanScope</string>
	<key>constraintVersusTemple</key>
	<string>histogramAlongWork</string>
	<key>controllerNearVisitor</key>
	<string>persistentUsageTheme</string>
	<key>ignoredGemCoord</key>
	<string>gridTaskTheme</string>
	<key>interactiveBitrateFlags</key>
	<string>finalInterfaceSpeed</string>
	<key>numericalMethodTint</key>
	<string>deferredUtilInteraction</string>
	<key>observerActionDirection</key>
	<string>intuitiveSamplePressure</string>
	<key>repositoryFacadeColor</key>
	<string>subsequentGroupRight</string>
	<key>transitionTempleFeedback</key>
	<string>offsetStrategyOffset</string>
</dict>
</plist>
