<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>localEqualizationMomentum</key>
	<string>clipperInInterpreter</string>
	<key>rectStrategyIndex</key>
	<string>heroThanInterpreter</string>
	<key>tabviewPatternContrast</key>
	<string>independentAspectForce</string>
</dict>
</plist>
