<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticMediatorIndex</key>
	<string>integerParameterStatus</string>
	<key>containerCommandType</key>
	<string>notificationPatternOffset</string>
	<key>decorationUntilForm</key>
	<string>mobileObserverTail</string>
	<key>flexThroughWork</key>
	<string>threadViaProcess</string>
	<key>gesturedetectorValueType</key>
	<string>riverpodOrJob</string>
	<key>logarithmAndState</key>
	<string>commandBesideObserver</string>
	<key>sineAgainstType</key>
	<string>configurationBridgeName</string>
	<key>sizeTierSize</key>
	<string>permissiveTabviewScale</string>
</dict>
</plist>
