<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorCompositeColor</key>
	<string>eventMethodDistance</string>
	<key>associatedSizeForce</key>
	<string>asyncJobTension</string>
	<key>cacheOrCycle</key>
	<string>isolateParamAlignment</string>
	<key>completerDecoratorOpacity</key>
	<string>masterViaComposite</string>
	<key>controllerBufferVelocity</key>
	<string>substantialAwaitResponse</string>
	<key>skirtWithChain</key>
	<string>themeFlyweightName</string>
	<key>utilUntilPhase</key>
	<string>controllerAroundAdapter</string>
</dict>
</plist>
