<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderKindOffset</key>
	<string>inactiveMovementDepth</string>
	<key>characterPlatformPressure</key>
	<string>projectionAboutObserver</string>
	<key>commandWithoutParam</key>
	<string>specifyScrollMomentum</string>
	<key>nodePhaseAlignment</key>
	<string>mobileSlashTail</string>
	<key>notifierContextDuration</key>
	<string>constraintForAction</string>
	<key>petStrategyValidation</key>
	<string>layoutVisitorMomentum</string>
	<key>resizableNavigationVelocity</key>
	<string>newestOperationKind</string>
	<key>storeVisitorPadding</key>
	<string>hyperbolicBrushStatus</string>
	<key>subsequentReferenceSize</key>
	<string>subscriptionAmongFlyweight</string>
</dict>
</plist>
