<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalLoopBrightness</key>
	<string>descriptionIncludeActivity</string>
	<key>curveAndForm</key>
	<string>iterativePopupIndex</string>
	<key>grainAgainstBuffer</key>
	<string>actionStrategyFormat</string>
	<key>inactiveTransitionBrightness</key>
	<string>similarDropdownbuttonResponse</string>
	<key>projectionPrototypeRight</key>
	<string>completerDuringType</string>
	<key>riverpodSinceTask</key>
	<string>singletonParamVisible</string>
	<key>screenCommandSaturation</key>
	<string>robustDialogsEdge</string>
	<key>scrollableSampleStyle</key>
	<string>originalCellBorder</string>
	<key>statefulProxyStatus</key>
	<string>canvasPerStage</string>
	<key>synchronousBufferVelocity</key>
	<string>diffableControllerPressure</string>
</dict>
</plist>
