<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionActionOpacity</key>
	<string>discardedProgressbarPressure</string>
	<key>enabledThreadSaturation</key>
	<string>boxshadowOperationLocation</string>
	<key>gridContextHue</key>
	<string>petBufferPressure</string>
	<key>navigatorCycleVisibility</key>
	<string>methodContextShape</string>
	<key>parallelPointPadding</key>
	<string>entityDuringCycle</string>
	<key>routerStyleOffset</key>
	<string>stateAsCycle</string>
	<key>scrollableQueryCount</key>
	<string>referenceThanComposite</string>
</dict>
</plist>
