<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsAtTier</key>
	<string>hyperbolicParticleInteraction</string>
	<key>managerAdapterLeft</key>
	<string>futureViaStyle</string>
	<key>optimizerOrLevel</key>
	<string>normalFrameFormat</string>
	<key>statelessWithShape</key>
	<string>compositionalInjectionColor</string>
	<key>threadFunctionColor</key>
	<string>baselineSinceCommand</string>
</dict>
</plist>
