<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCompleterLeft</key>
	<string>significantCompositionSize</string>
	<key>containerFlyweightBorder</key>
	<string>swiftStrategyCount</string>
	<key>declarativeChannelsPressure</key>
	<string>coordinatorIncludeState</string>
	<key>draggableEntropyFrequency</key>
	<string>asyncProviderDuration</string>
	<key>immutableTickerBehavior</key>
	<string>capacitiesAtFlyweight</string>
	<key>metadataAtVar</key>
	<string>canvasDecoratorSkewy</string>
</dict>
</plist>
