<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionUntilFunction</key>
	<string>dynamicRadioTag</string>
	<key>diffableStorageTop</key>
	<string>navigatorAwayStructure</string>
	<key>musicAgainstMethod</key>
	<string>reusableArithmeticShape</string>
	<key>roleThanTemple</key>
	<string>equipmentTaskInteraction</string>
	<key>sortedPreviewOffset</key>
	<string>permissivePlateShade</string>
</dict>
</plist>
