<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStructurePadding</key>
	<string>capsuleContainInterpreter</string>
	<key>exceptionStateRate</key>
	<string>taskInBridge</string>
	<key>priorityCompositeRight</key>
	<string>coordinatorOrVar</string>
	<key>radioAroundCycle</key>
	<string>builderThroughDecorator</string>
	<key>streamCommandAcceleration</key>
	<string>firstManagerSize</string>
</dict>
</plist>
