<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeAnimatedcontainerBorder</key>
	<string>sophisticatedCompleterDirection</string>
	<key>cubitActivityRate</key>
	<string>sizeForVisitor</string>
	<key>explicitQueryPressure</key>
	<string>sceneVisitorInteraction</string>
	<key>metadataOrStage</key>
	<string>adaptiveCoordinatorSkewy</string>
	<key>popupStructureDirection</key>
	<string>dependencyContainDecorator</string>
	<key>respectiveEntityCenter</key>
	<string>dependencyExceptProcess</string>
</dict>
</plist>
