<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedProviderSkewx</key>
	<string>streamAwayActivity</string>
	<key>methodPerBuffer</key>
	<string>promiseWithObserver</string>
	<key>tappableControllerValidation</key>
	<string>optionAndStage</string>
</dict>
</plist>
