<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTypeBehavior</key>
	<string>precisionOfStage</string>
	<key>baseMethodSpeed</key>
	<string>previewWorkRight</string>
	<key>exceptionDuringShape</key>
	<string>finalEqualizationOrigin</string>
	<key>heapThanInterpreter</key>
	<string>cupertinoBulletOrientation</string>
	<key>managerUntilVariable</key>
	<string>taskNearOperation</string>
	<key>repositoryDuringStyle</key>
	<string>symmetricSingletonFlags</string>
	<key>responsiveAspectratioName</key>
	<string>getxThroughVisitor</string>
	<key>sharedCubeAcceleration</key>
	<string>borderPatternInteraction</string>
	<key>sinkDuringComposite</key>
	<string>transformerOperationForce</string>
</dict>
</plist>
