<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferWithoutStyle</key>
	<string>callbackMementoMomentum</string>
	<key>buttonAndJob</key>
	<string>directInteractorBorder</string>
	<key>interactorParamShape</key>
	<string>swiftLevelInteraction</string>
	<key>menuAroundFramework</key>
	<string>oldStatefulResponse</string>
	<key>numericalCustompaintCenter</key>
	<string>explicitLogTheme</string>
	<key>parallelAnimationColor</key>
	<string>entityWithMediator</string>
	<key>previewMethodDistance</key>
	<string>storyboardMediatorResponse</string>
	<key>sliderForKind</key>
	<string>modelBridgeAlignment</string>
	<key>visibleNibRight</key>
	<string>scaffoldContextName</string>
</dict>
</plist>
