<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellSinceBuffer</key>
	<string>variantAtSingleton</string>
	<key>commandProxyColor</key>
	<string>blocContextPressure</string>
	<key>commonButtonDensity</key>
	<string>themeTypeInterval</string>
	<key>consultativePaddingMomentum</key>
	<string>basicChannelName</string>
	<key>notificationModeOrigin</key>
	<string>masterDuringSystem</string>
	<key>paddingInsideBridge</key>
	<string>imageKindMode</string>
	<key>stateSinceOperation</key>
	<string>cursorVariableScale</string>
	<key>viewAgainstOperation</key>
	<string>euclideanConfigurationLeft</string>
</dict>
</plist>
