<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionIncludeFunction</key>
	<string>scrollableModalAlignment</string>
	<key>compositionalServiceSize</key>
	<string>intensityAsMethod</string>
	<key>concreteStateMomentum</key>
	<string>tableAlongTemple</string>
	<key>layerNearAdapter</key>
	<string>previewAlongPattern</string>
	<key>nibWorkResponse</key>
	<string>singleControllerBehavior</string>
	<key>pinchableWidgetScale</key>
	<string>prismaticResourceScale</string>
	<key>responseThroughStructure</key>
	<string>cupertinoPositionInteraction</string>
	<key>scrollableExpandedVelocity</key>
	<string>repositoryFlyweightSpacing</string>
	<key>unaryTierRight</key>
	<string>hardEffectTop</string>
	<key>workflowProcessDelay</key>
	<string>constraintAdapterScale</string>
</dict>
</plist>
