<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralEffectVelocity</key>
	<string>dynamicProjectTheme</string>
	<key>featureIncludeParameter</key>
	<string>gateValueBrightness</string>
	<key>logStructureLeft</key>
	<string>intermediateSensorAcceleration</string>
	<key>nativeResourceFormat</key>
	<string>sessionWithoutDecorator</string>
	<key>spotDespiteSystem</key>
	<string>gridviewLikeWork</string>
</dict>
</plist>
