<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoSliderDistance</key>
	<string>localNormRotation</string>
	<key>diversifiedGrainVelocity</key>
	<string>uniformObserverMode</string>
	<key>greatWidgetTail</key>
	<string>hashNumberSpeed</string>
	<key>masterDuringMode</key>
	<string>sustainableInteractorTag</string>
</dict>
</plist>
