<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOrContext</key>
	<string>curveContextVisibility</string>
	<key>cartesianControllerRotation</key>
	<string>serviceModeHue</string>
	<key>completerPrototypeRotation</key>
	<string>heapUntilAdapter</string>
	<key>customIntensityVisibility</key>
	<string>chapterBridgeSize</string>
	<key>dropdownbuttonParamRight</key>
	<string>clipperInsideChain</string>
	<key>enabledRemainderResponse</key>
	<string>invisibleRouteFeedback</string>
	<key>interactorWithoutFacade</key>
	<string>rectLikeScope</string>
	<key>popupFormType</key>
	<string>repositoryFromMemento</string>
	<key>seamlessStatefulFlags</key>
	<string>menuFunctionSpeed</string>
	<key>semanticTweenType</key>
	<string>injectionByMediator</string>
</dict>
</plist>
