<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentPlaybackRotation</key>
	<string>offsetOperationStyle</string>
	<key>semanticCheckboxPressure</key>
	<string>dropdownbuttonAsFunction</string>
	<key>smartEffectHue</key>
	<string>asyncRouteForce</string>
	<key>viewPrototypeInteraction</key>
	<string>sinkAlongPattern</string>
</dict>
</plist>
