<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowParameterTail</key>
	<string>mutablePlateEdge</string>
	<key>builderAgainstLayer</key>
	<string>boxshadowBridgeColor</string>
	<key>chapterObserverMode</key>
	<string>taskAlongScope</string>
	<key>immutableTextContrast</key>
	<string>storeDespiteObserver</string>
	<key>invisibleDrawerBehavior</key>
	<string>activityUntilTier</string>
	<key>resourceActivityBound</key>
	<string>cubitWithValue</string>
</dict>
</plist>
