<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeSpriteName</key>
	<string>groupVarPadding</string>
	<key>hardErrorAlignment</key>
	<string>batchWorkDuration</string>
	<key>localizationFormBrightness</key>
	<string>lastDependencyTension</string>
	<key>metadataContextState</key>
	<string>graphParamLeft</string>
	<key>subscriptionActionIndex</key>
	<string>getxMediatorResponse</string>
</dict>
</plist>
