<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>optionSingletonSaturation</key>
	<string>sinkOrOperation</string>
	<key>protectedChallengeMargin</key>
	<string>cupertinoAnimationMomentum</string>
	<key>reactiveSwitchSize</key>
	<string>signTierIndex</string>
	<key>textByFacade</key>
	<string>getxContainInterpreter</string>
	<key>usedSignSpacing</key>
	<string>gramNumberPosition</string>
	<key>variantActionColor</key>
	<string>smartStoreBorder</string>
</dict>
</plist>
