<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGestureSpeed</key>
	<string>basicQueueSpeed</string>
	<key>asyncNavigatorDistance</key>
	<string>signThanStrategy</string>
	<key>concreteDecorationVisibility</key>
	<string>greatChallengeRotation</string>
	<key>delegateScopeType</key>
	<string>commonDelegateDirection</string>
	<key>drawerOperationResponse</key>
	<string>lastImageInteraction</string>
	<key>entityPlatformResponse</key>
	<string>sizeWithoutBuffer</string>
	<key>getxParameterOrientation</key>
	<string>rowOutsideStructure</string>
	<key>handlerSinceEnvironment</key>
	<string>hardReductionFeedback</string>
	<key>staticScaffoldSpeed</key>
	<string>queueVersusSingleton</string>
</dict>
</plist>
