<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveListenerDensity</key>
	<string>spriteVariableFlags</string>
	<key>controllerNearVisitor</key>
	<string>slashOperationFeedback</string>
	<key>secondTransitionRotation</key>
	<string>storeAgainstValue</string>
	<key>sinkPerProxy</key>
	<string>scaffoldParamInterval</string>
</dict>
</plist>
