<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianDocumentPadding</key>
	<string>viewUntilFlyweight</string>
	<key>containerBeyondState</key>
	<string>diffableRemainderContrast</string>
	<key>mutableResultStatus</key>
	<string>mediocreActivitySize</string>
	<key>protocolThanProxy</key>
	<string>reusableOverlayPosition</string>
	<key>spriteTierStatus</key>
	<string>rectMementoPadding</string>
</dict>
</plist>
