<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionStructureShape</key>
	<string>screenSinceMode</string>
	<key>constLogarithmMode</key>
	<string>navigatorTempleResponse</string>
	<key>constraintDuringBridge</key>
	<string>touchVariableVisible</string>
	<key>labelStructureSpacing</key>
	<string>immutableConvolutionSize</string>
</dict>
</plist>
