<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableCompletionAppearance</key>
	<string>cosineDespiteTier</string>
	<key>descriptionBridgeBound</key>
	<string>accessiblePriorityScale</string>
	<key>finalCacheLeft</key>
	<string>anchorDespiteKind</string>
	<key>gridProxyOrientation</key>
	<string>permanentTextureHue</string>
	<key>mobxLevelShade</key>
	<string>visibleContractionSpacing</string>
	<key>priorLogarithmTension</key>
	<string>layerContextInset</string>
	<key>stateBesideWork</key>
	<string>animationTypeCoord</string>
</dict>
</plist>
