<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistTierMode</key>
	<string>commonExceptionRight</string>
	<key>compositionalRectColor</key>
	<string>arithmeticStorageDepth</string>
	<key>intermediateMovementDelay</key>
	<string>containerOfType</string>
	<key>isolateOrCycle</key>
	<string>positionOrValue</string>
	<key>mapExceptNumber</key>
	<string>arithmeticAndBridge</string>
	<key>mediumMultiplicationName</key>
	<string>unactivatedFutureTop</string>
	<key>responseScopeTheme</key>
	<string>futureBufferAlignment</string>
	<key>subpixelViaNumber</key>
	<string>primarySliderMode</string>
	<key>timerVersusFlyweight</key>
	<string>certificatePerVariable</string>
</dict>
</plist>
