<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionBesideMediator</key>
	<string>effectOperationKind</string>
	<key>durationBufferColor</key>
	<string>timerIncludeObserver</string>
	<key>groupTempleAppearance</key>
	<string>switchPlatformPosition</string>
	<key>interactorSingletonDirection</key>
	<string>localFutureShape</string>
	<key>observerThanPlatform</key>
	<string>cellInterpreterTop</string>
	<key>resourceVariableDepth</key>
	<string>presenterStyleShape</string>
	<key>responseFacadeInteraction</key>
	<string>crucialAnimatedcontainerHue</string>
	<key>serviceAsTier</key>
	<string>unaryTierOpacity</string>
	<key>sizedboxChainName</key>
	<string>characterStructureOffset</string>
	<key>vectorAwayPrototype</key>
	<string>accessorySystemVisibility</string>
</dict>
</plist>
