<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasVisitorAppearance</key>
	<string>observerInsideState</string>
	<key>capsuleDecoratorValidation</key>
	<string>semanticSessionScale</string>
	<key>captionPerFacade</key>
	<string>buttonStrategyColor</string>
	<key>cellLikeMethod</key>
	<string>rectSystemVelocity</string>
	<key>musicJobName</key>
	<string>priorPlateVisible</string>
	<key>similarRowDelay</key>
	<string>listviewFormBound</string>
	<key>smallDescriptorHead</key>
	<string>sophisticatedCollectionCenter</string>
	<key>viewBesideNumber</key>
	<string>featureSingletonRight</string>
</dict>
</plist>
