<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCoordinatorDirection</key>
	<string>taskWithCycle</string>
	<key>callbackCommandAppearance</key>
	<string>threadObserverContrast</string>
	<key>completionShapeShape</key>
	<string>directNavigationCenter</string>
	<key>coordinatorThanCycle</key>
	<string>intensityBufferBehavior</string>
	<key>cursorVariableDelay</key>
	<string>intensityForInterpreter</string>
	<key>directAllocatorBorder</key>
	<string>gateAndStyle</string>
	<key>grainValuePosition</key>
	<string>accessiblePlateRotation</string>
	<key>overlayVariableKind</key>
	<string>taskTierSaturation</string>
	<key>reducerTypeTop</key>
	<string>labelFromInterpreter</string>
	<key>sortedOptimizerRate</key>
	<string>positionJobSkewy</string>
</dict>
</plist>
