<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessorySinceTier</key>
	<string>dependencyModeName</string>
	<key>callbackVarFormat</key>
	<string>pointActivityColor</string>
	<key>constCharacterInteraction</key>
	<string>largeInjectionTransparency</string>
	<key>displayableStreamBrightness</key>
	<string>inkwellLikeTask</string>
	<key>entityMementoInteraction</key>
	<string>otherExponentEdge</string>
	<key>liteTopicCount</key>
	<string>sizedboxTypeInterval</string>
	<key>localizationPlatformShade</key>
	<string>operationOrFlyweight</string>
	<key>memberWithType</key>
	<string>threadUntilPlatform</string>
	<key>textBeyondChain</key>
	<string>buttonBufferPressure</string>
</dict>
</plist>
