<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDuringProcess</key>
	<string>appbarByVisitor</string>
	<key>boxshadowAndValue</key>
	<string>adaptiveCosineForce</string>
	<key>globalControllerVisibility</key>
	<string>storageAroundParameter</string>
	<key>granularConstraintTheme</key>
	<string>loopDecoratorDirection</string>
	<key>missedInjectionTop</key>
	<string>shaderDuringState</string>
	<key>queueFacadeLocation</key>
	<string>smallMemberState</string>
	<key>scaleUntilVariable</key>
	<string>flexActivityEdge</string>
	<key>titleScopeVelocity</key>
	<string>axisStyleContrast</string>
	<key>topicPlatformShape</key>
	<string>smartWidgetHead</string>
</dict>
</plist>
