<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionUtilType</key>
	<string>delicateConsumerDistance</string>
	<key>builderFromContext</key>
	<string>parallelIconForce</string>
	<key>custompaintCycleName</key>
	<string>textfieldWithoutDecorator</string>
	<key>diversifiedSkinTag</key>
	<string>disabledSpriteLocation</string>
	<key>injectionViaMemento</key>
	<string>resizableInteractorAlignment</string>
	<key>invisibleCanvasHead</key>
	<string>lastLoopFlags</string>
	<key>marginModeForce</key>
	<string>storeTypeFrequency</string>
	<key>masterStyleShape</key>
	<string>captionFunctionResponse</string>
	<key>seamlessCommandCenter</key>
	<string>subscriptionSingletonTension</string>
</dict>
</plist>
