<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowBesideFacade</key>
	<string>offsetOfFunction</string>
	<key>capacitiesStrategyBehavior</key>
	<string>isolateFromVisitor</string>
	<key>cosineUntilEnvironment</key>
	<string>mobileCommandStatus</string>
	<key>cursorPatternEdge</key>
	<string>mapUntilState</string>
	<key>futureSystemTheme</key>
	<string>gridUntilSingleton</string>
	<key>materialErrorHue</key>
	<string>temporaryProgressbarForce</string>
	<key>nativeTabviewKind</key>
	<string>utilOrKind</string>
	<key>storeThroughValue</key>
	<string>metadataLayerRight</string>
	<key>subsequentZonePadding</key>
	<string>aspectratioModeInterval</string>
	<key>transformerCompositeStyle</key>
	<string>giftOperationIndex</string>
</dict>
</plist>
