<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferContainMode</key>
	<string>inkwellContainSingleton</string>
	<key>imageAsTask</key>
	<string>invisibleCoordinatorDirection</string>
	<key>lazyDrawerRate</key>
	<string>storeEnvironmentVelocity</string>
	<key>reducerSingletonCoord</key>
	<string>activatedGrainSpeed</string>
	<key>tweenExceptValue</key>
	<string>declarativeStatelessAlignment</string>
</dict>
</plist>
