<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredStackCount</key>
	<string>prevCurveStatus</string>
	<key>handlerInsideVar</key>
	<string>parallelGraphOpacity</string>
	<key>projectViaValue</key>
	<string>textWorkForce</string>
	<key>transitionSystemPadding</key>
	<string>decorationJobDirection</string>
</dict>
</plist>
