<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorWithoutProxy</key>
	<string>tangentWithoutSystem</string>
	<key>aspectratioChainAcceleration</key>
	<string>loopOperationBottom</string>
	<key>convolutionVariableAppearance</key>
	<string>similarStoreSkewx</string>
	<key>labelPerSystem</key>
	<string>queueNearVariable</string>
	<key>petVersusType</key>
	<string>mediaqueryAsState</string>
	<key>sliderShapeFeedback</key>
	<string>concurrentZoneIndex</string>
	<key>uniformTabbarIndex</key>
	<string>modulusParamVisibility</string>
</dict>
</plist>
