<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexDecoratorBrightness</key>
	<string>masterAboutShape</string>
	<key>managerActivityContrast</key>
	<string>coordinatorOrTask</string>
	<key>nodeOutsideCycle</key>
	<string>convolutionPrototypeTag</string>
	<key>reducerAroundFramework</key>
	<string>parallelContractionKind</string>
</dict>
</plist>
