<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleAlphaBrightness</key>
	<string>resultBufferType</string>
	<key>axisProxyTail</key>
	<string>resourceLevelLeft</string>
	<key>deferredVectorDirection</key>
	<string>iterativeSubscriptionName</string>
	<key>denseBatchTag</key>
	<string>swiftAboutComposite</string>
	<key>mobxAwayOperation</key>
	<string>euclideanRichtextDirection</string>
	<key>statePlatformColor</key>
	<string>unactivatedStateSkewx</string>
</dict>
</plist>
