<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelVisitorCoord</key>
	<string>notificationEnvironmentBound</string>
	<key>consultativeChannelsDuration</key>
	<string>visibleAlphaPadding</string>
	<key>delegateUntilMethod</key>
	<string>layoutLikeWork</string>
	<key>vectorAmongNumber</key>
	<string>methodWorkTint</string>
</dict>
</plist>
