<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureDuringBridge</key>
	<string>viewParamInset</string>
	<key>callbackAwayFramework</key>
	<string>permanentRichtextBottom</string>
	<key>channelsAlongProcess</key>
	<string>requestThroughBuffer</string>
	<key>desktopMatrixCoord</key>
	<string>nativeQueueMode</string>
	<key>offsetDuringEnvironment</key>
	<string>typicalTaskTransparency</string>
	<key>radioWorkFeedback</key>
	<string>sharedAlertValidation</string>
	<key>reducerPlatformTag</key>
	<string>shaderCommandAlignment</string>
</dict>
</plist>
