<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveGestureDirection</key>
	<string>columnAdapterPosition</string>
	<key>challengeAboutTemple</key>
	<string>dimensionActionOrigin</string>
	<key>checklistFormTag</key>
	<string>finalAnimationPressure</string>
	<key>clipperTempleFrequency</key>
	<string>plateInterpreterFlags</string>
	<key>gestureWithObserver</key>
	<string>seamlessEquipmentDelay</string>
	<key>otherMethodTint</key>
	<string>sortedResourcePosition</string>
	<key>resourceBeyondSingleton</key>
	<string>asyncScreenFormat</string>
	<key>roleJobIndex</key>
	<string>actionExceptFunction</string>
	<key>rowCommandTension</key>
	<string>mediaqueryDespitePlatform</string>
	<key>statelessTangentLeft</key>
	<string>radioDespitePattern</string>
</dict>
</plist>
