<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateCompleterHue</key>
	<string>columnActionTop</string>
	<key>hardTextValidation</key>
	<string>loopSystemStyle</string>
	<key>interactiveCoordinatorOrigin</key>
	<string>subpixelUntilStructure</string>
	<key>localizationViaPlatform</key>
	<string>cubitFromBuffer</string>
	<key>musicContainStrategy</key>
	<string>listenerWithoutPattern</string>
	<key>presenterFlyweightPressure</key>
	<string>collectionSystemAcceleration</string>
	<key>resilientKernelFrequency</key>
	<string>easyErrorBrightness</string>
</dict>
</plist>
