<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionShapeDistance</key>
	<string>configurationStrategyTag</string>
	<key>animatedcontainerVersusObserver</key>
	<string>behaviorLikePrototype</string>
	<key>dialogsCycleBorder</key>
	<string>queryOfSystem</string>
	<key>injectionActivityDelay</key>
	<string>stackBeyondMemento</string>
</dict>
</plist>
