<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeFrameMomentum</key>
	<string>segueNearStage</string>
	<key>loopVisitorDensity</key>
	<string>positionPlatformIndex</string>
	<key>modelStylePadding</key>
	<string>techniqueTempleTint</string>
	<key>reducerInterpreterIndex</key>
	<string>controllerProcessRotation</string>
	<key>variantAsTask</key>
	<string>frameAtForm</string>
	<key>variantFromFunction</key>
	<string>channelsAroundWork</string>
	<key>widgetOperationDensity</key>
	<string>alphaParameterVisibility</string>
</dict>
</plist>
