<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardColumnInset</key>
	<string>containerTaskKind</string>
	<key>certificateOperationScale</key>
	<string>standaloneConvolutionHue</string>
	<key>cubitLevelDensity</key>
	<string>normalInterfaceStatus</string>
	<key>dialogsDespiteWork</key>
	<string>asyncWithBridge</string>
	<key>menuInNumber</key>
	<string>timerVariableIndex</string>
	<key>notificationFacadeTransparency</key>
	<string>cursorFunctionBrightness</string>
	<key>notifierAgainstComposite</key>
	<string>chapterAndMemento</string>
	<key>publicScreenVisible</key>
	<string>localizationAboutVariable</string>
	<key>spineAdapterDuration</key>
	<string>previewIncludeFacade</string>
	<key>temporaryCallbackStatus</key>
	<string>arithmeticOutsideMemento</string>
</dict>
</plist>
