<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteArithmeticCoord</key>
	<string>buttonLikeType</string>
	<key>momentumInsideEnvironment</key>
	<string>gridProxyStyle</string>
	<key>positionedFromOperation</key>
	<string>usecasePhaseForce</string>
	<key>reducerWithoutVar</key>
	<string>localExpandedCenter</string>
	<key>rowMementoBorder</key>
	<string>positionStageRate</string>
	<key>specifierIncludeSystem</key>
	<string>dedicatedGrayscaleState</string>
</dict>
</plist>
