<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCharacterInterval</key>
	<string>activeSemanticsResponse</string>
	<key>binaryPerMediator</key>
	<string>animatedAllocatorTheme</string>
	<key>clipperLevelSkewx</key>
	<string>providerLikeProcess</string>
	<key>gradientValueSpacing</key>
	<string>sizedboxOutsideState</string>
	<key>handlerOutsideNumber</key>
	<string>reductionLikeProxy</string>
	<key>loopLayerTheme</key>
	<string>subsequentSegmentFrequency</string>
	<key>reductionProxyRotation</key>
	<string>overlayEnvironmentSpeed</string>
</dict>
</plist>
