<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFormDepth</key>
	<string>dependencyInAdapter</string>
	<key>basicDependencyTension</key>
	<string>equalizationContainType</string>
	<key>binaryLikeFacade</key>
	<string>animationFunctionSkewx</string>
	<key>concreteSizeAppearance</key>
	<string>crudeCoordinatorTension</string>
	<key>signAtPlatform</key>
	<string>brushTierTheme</string>
	<key>streamPhaseShape</key>
	<string>displayableTextureOpacity</string>
	<key>workflowInsideComposite</key>
	<string>similarCompleterOrigin</string>
</dict>
</plist>
