<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandParameterSkewy</key>
	<string>offsetChainIndex</string>
	<key>cycleLayerTop</key>
	<string>chapterFunctionAppearance</string>
	<key>decorationLikeEnvironment</key>
	<string>deferredDescriptionOpacity</string>
	<key>directCommandRotation</key>
	<string>dependencyTempleMomentum</string>
	<key>globalObserverPadding</key>
	<string>behaviorTaskIndex</string>
	<key>injectionUntilKind</key>
	<string>durationIncludeInterpreter</string>
	<key>mediaAtStage</key>
	<string>pivotalSubpixelDepth</string>
	<key>otherPainterDelay</key>
	<string>resolverStructureStyle</string>
	<key>scrollableFeatureHue</key>
	<string>variantDespiteComposite</string>
	<key>tensorScaffoldHead</key>
	<string>tweenInsideKind</string>
</dict>
</plist>
