<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartVariableTint</key>
	<string>delicateStepTint</string>
	<key>concreteContainerTransparency</key>
	<string>aspectratioBesideSingleton</string>
	<key>granularOperationStyle</key>
	<string>signScopeMargin</string>
	<key>notificationDecoratorTension</key>
	<string>localizationActivityAlignment</string>
	<key>queryKindFlags</key>
	<string>repositoryFormStatus</string>
	<key>resilientGiftDuration</key>
	<string>streamInMemento</string>
	<key>smallSizeHead</key>
	<string>scrollableTransitionStyle</string>
</dict>
</plist>
