<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionVisitorInterval</key>
	<string>usageAwayStyle</string>
	<key>disparateTextPosition</key>
	<string>materialCapacitiesTop</string>
	<key>globalGetxFormat</key>
	<string>descriptorBridgeInteraction</string>
	<key>gridviewAlongSingleton</key>
	<string>constraintActivityOffset</string>
	<key>inactiveResourceSkewy</key>
	<string>segueOutsideState</string>
	<key>listenerFromInterpreter</key>
	<string>responseModeLocation</string>
	<key>localResourceInteraction</key>
	<string>commonIntensityBottom</string>
	<key>parallelGrainDuration</key>
	<string>textureAboutShape</string>
	<key>rectWithoutPrototype</key>
	<string>iterativeClipperAlignment</string>
	<key>topicExceptMediator</key>
	<string>entityAgainstType</string>
</dict>
</plist>
