<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAroundAction</key>
	<string>euclideanFactoryDelay</string>
	<key>eagerSubpixelColor</key>
	<string>uniformChartAcceleration</string>
	<key>extensionFacadeBorder</key>
	<string>bitrateLayerStyle</string>
	<key>getxCompositeColor</key>
	<string>interactorAdapterSize</string>
	<key>independentStateIndex</key>
	<string>symbolActivityInterval</string>
	<key>normalDecorationScale</key>
	<string>masterByForm</string>
	<key>paddingShapeCount</key>
	<string>widgetOrParameter</string>
</dict>
</plist>
