<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncViewDistance</key>
	<string>capsuleVersusStrategy</string>
	<key>chartExceptLayer</key>
	<string>handlerParamPressure</string>
	<key>displayableRectInterval</key>
	<string>tickerFromChain</string>
	<key>fixedSingletonOrientation</key>
	<string>opaqueStreamPadding</string>
	<key>resultProxyDepth</key>
	<string>frameLikePlatform</string>
	<key>sensorAtState</key>
	<string>inheritedInterfaceRight</string>
	<key>sequentialExpandedHead</key>
	<string>invisibleGrainAlignment</string>
	<key>tangentKindShade</key>
	<string>explicitCubitInterval</string>
</dict>
</plist>
