<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCaptionSaturation</key>
	<string>sinkOrFramework</string>
	<key>currentLossSpacing</key>
	<string>radiusInterpreterDensity</string>
	<key>curveOutsideTask</key>
	<string>streamAgainstParam</string>
	<key>equalizationParamStatus</key>
	<string>ignoredTransitionOrientation</string>
	<key>listviewCommandSkewx</key>
	<string>elasticQueueDelay</string>
	<key>modelSystemOpacity</key>
	<string>rolePerStage</string>
	<key>resilientLayerTint</key>
	<string>layoutProcessRate</string>
	<key>sceneBeyondValue</key>
	<string>animatedcontainerFacadeColor</string>
	<key>storageThanPattern</key>
	<string>imageBesideNumber</string>
	<key>symmetricListenerFormat</key>
	<string>gramUntilActivity</string>
</dict>
</plist>
