<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoProfileKind</key>
	<string>flexibleSpotScale</string>
	<key>custompaintAndKind</key>
	<string>mediaDuringAdapter</string>
	<key>disabledStoreState</key>
	<string>pinchableDecorationSpacing</string>
	<key>diversifiedFutureForce</key>
	<string>exceptionProcessTag</string>
	<key>multiplicationThroughProcess</key>
	<string>responsiveGramSaturation</string>
	<key>subsequentResultMode</key>
	<string>usecaseWithState</string>
	<key>viewWithVariable</key>
	<string>stateProcessCenter</string>
</dict>
</plist>
