<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesContainShape</key>
	<string>layerUntilMediator</string>
	<key>interfaceTaskOpacity</key>
	<string>accordionSliderInset</string>
	<key>missedGradientBrightness</key>
	<string>repositoryContextFlags</string>
	<key>protectedInkwellTop</key>
	<string>shaderDespiteKind</string>
	<key>seamlessPromiseCount</key>
	<string>layoutWithPlatform</string>
	<key>tabbarAwayCommand</key>
	<string>completionLikePlatform</string>
</dict>
</plist>
