<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorStatePressure</key>
	<string>statelessBaseStatus</string>
	<key>modulusSystemTail</key>
	<string>dependencyTempleBound</string>
	<key>navigationDespiteSingleton</key>
	<string>independentExtensionDistance</string>
	<key>pointExceptMode</key>
	<string>repositoryProxyOpacity</string>
	<key>smartNodeContrast</key>
	<string>completionVarDistance</string>
</dict>
</plist>
