<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetParamSpeed</key>
	<string>flexibleModelFeedback</string>
	<key>commandWithoutFramework</key>
	<string>hardLayoutTransparency</string>
	<key>decorationWithComposite</key>
	<string>configurationSingletonDuration</string>
	<key>dropdownbuttonThanStage</key>
	<string>injectionForStructure</string>
	<key>errorJobMargin</key>
	<string>viewSinceSingleton</string>
	<key>independentMetadataSaturation</key>
	<string>captionTypeVisible</string>
	<key>permanentLoopRotation</key>
	<string>largeMaterialTransparency</string>
	<key>sortedChannelName</key>
	<string>declarativeFrameKind</string>
	<key>storageValueVelocity</key>
	<string>animatedFactoryOrigin</string>
</dict>
</plist>
