<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerInterpreterVisible</key>
	<string>variantAgainstProxy</string>
	<key>errorKindVisible</key>
	<string>queueParameterDelay</string>
	<key>routeBeyondPhase</key>
	<string>concreteCubePressure</string>
	<key>usedTitleFormat</key>
	<string>labelLayerTail</string>
</dict>
</plist>
