<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaKindKind</key>
	<string>featureDespiteParameter</string>
	<key>behaviorLayerCount</key>
	<string>crudeRepositoryRight</string>
	<key>catalystWorkDuration</key>
	<string>substantialMobileResponse</string>
	<key>exceptionCommandBrightness</key>
	<string>entityIncludeFacade</string>
	<key>frameOfCommand</key>
	<string>explicitStreamTension</string>
	<key>hierarchicalTransitionMode</key>
	<string>certificateJobRight</string>
	<key>mobileFormSpacing</key>
	<string>geometricBaseSpacing</string>
	<key>notifierPrototypeSize</key>
	<string>controllerOutsideParam</string>
	<key>significantTweenPosition</key>
	<string>alignmentPatternEdge</string>
	<key>substantialQueueFormat</key>
	<string>themeTypeVisibility</string>
</dict>
</plist>
