<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTaskPressure</key>
	<string>featureSingletonVisibility</string>
	<key>builderByDecorator</key>
	<string>binaryPerInterpreter</string>
	<key>cubitContextShade</key>
	<string>resultMementoBottom</string>
	<key>deferredStorageAppearance</key>
	<string>requestAmongChain</string>
	<key>lostResponseOpacity</key>
	<string>keyErrorInteraction</string>
	<key>originalMemberName</key>
	<string>borderSinceParameter</string>
	<key>sceneAndContext</key>
	<string>presenterIncludePlatform</string>
	<key>uniqueDescriptionRight</key>
	<string>subscriptionAlongPrototype</string>
</dict>
</plist>
