<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardScrollAppearance</key>
	<string>singletonForStructure</string>
	<key>baselineIncludeDecorator</key>
	<string>smartErrorOrientation</string>
	<key>bufferPatternMargin</key>
	<string>cartesianEffectStyle</string>
	<key>difficultEntityBound</key>
	<string>actionVersusChain</string>
	<key>persistentStackState</key>
	<string>disabledHandlerRate</string>
	<key>secondProjectionFlags</key>
	<string>cubitTypeOffset</string>
	<key>sineExceptProxy</key>
	<string>smartBehaviorCount</string>
	<key>visibleMovementState</key>
	<string>listviewStageShape</string>
</dict>
</plist>
