<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorDespiteWork</key>
	<string>nibAdapterAcceleration</string>
	<key>boxshadowViaEnvironment</key>
	<string>ephemeralTransitionRight</string>
	<key>deferredProjectionBottom</key>
	<string>arithmeticVariableDirection</string>
	<key>hashAlongDecorator</key>
	<string>subscriptionBridgeForce</string>
	<key>rectPerLevel</key>
	<string>rectThroughScope</string>
	<key>taskThanParam</key>
	<string>positionPerLayer</string>
	<key>textAmongProxy</key>
	<string>disabledOffsetSize</string>
</dict>
</plist>
