<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncEnvironmentDelay</key>
	<string>tickerShapeTension</string>
	<key>buttonPhaseOpacity</key>
	<string>curveFacadeIndex</string>
	<key>gramModeBehavior</key>
	<string>storageBridgeHead</string>
	<key>mediaqueryPerBridge</key>
	<string>entityMethodCoord</string>
	<key>mobileAboutSystem</key>
	<string>grainActionInteraction</string>
	<key>publicHeapResponse</key>
	<string>gesturedetectorLikeState</string>
	<key>retainedChapterDuration</key>
	<string>certificateBesideContext</string>
	<key>ternaryWithoutScope</key>
	<string>flexOperationDistance</string>
</dict>
</plist>
