<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxStateVelocity</key>
	<string>borderScopeFeedback</string>
	<key>mobileRequestRotation</key>
	<string>documentContainFlyweight</string>
	<key>optimizerOfSingleton</key>
	<string>stateOfEnvironment</string>
	<key>resultModeAlignment</key>
	<string>sharedZoneTension</string>
	<key>secondMaterialPressure</key>
	<string>groupStageMode</string>
	<key>serviceInterpreterRight</key>
	<string>beginnerFeatureColor</string>
</dict>
</plist>
