<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteEqualizationInterval</key>
	<string>loopParamRight</string>
	<key>radiusAsParam</key>
	<string>requiredCurveContrast</string>
	<key>requestFacadeKind</key>
	<string>significantFutureDensity</string>
	<key>resultSingletonLocation</key>
	<string>consultativeCurveShade</string>
	<key>subpixelSystemCoord</key>
	<string>originalDependencyTail</string>
</dict>
</plist>
