<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopCatalystAcceleration</key>
	<string>largeUsecaseBottom</string>
	<key>gestureContextFormat</key>
	<string>entropyForScope</string>
	<key>intuitiveOffsetOffset</key>
	<string>frameThanSingleton</string>
	<key>presenterSingletonRotation</key>
	<string>priorActionFrequency</string>
</dict>
</plist>
