<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSinceBridge</key>
	<string>temporaryStatelessMargin</string>
	<key>buttonPerStrategy</key>
	<string>concreteChannelDelay</string>
	<key>constNodeCoord</key>
	<string>tabviewContainFlyweight</string>
	<key>equipmentNumberBound</key>
	<string>navigationViaVariable</string>
	<key>futureDespiteWork</key>
	<string>heapPerParam</string>
	<key>relationalRouterMomentum</key>
	<string>activeRepositoryDirection</string>
</dict>
</plist>
