<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interfaceThanProxy</key>
	<string>globalRequestCount</string>
	<key>switchBeyondCycle</key>
	<string>desktopInjectionContrast</string>
	<key>textStageMargin</key>
	<string>projectionKindDistance</string>
</dict>
</plist>
