<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveCurveAppearance</key>
	<string>methodAgainstCommand</string>
	<key>cupertinoStatelessSpeed</key>
	<string>streamAwayStructure</string>
	<key>newestContainerVisible</key>
	<string>signatureUntilTier</string>
	<key>textBesidePattern</key>
	<string>transformerDuringPrototype</string>
	<key>transformerWithCycle</key>
	<string>alphaViaMethod</string>
</dict>
</plist>
