<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarInParameter</key>
	<string>mediumFeatureName</string>
	<key>channelsSinceState</key>
	<string>usedSubscriptionKind</string>
	<key>clipperShapeStyle</key>
	<string>presenterFrameworkFeedback</string>
	<key>customChannelOffset</key>
	<string>intuitiveCubeCount</string>
	<key>dimensionMediatorAppearance</key>
	<string>similarGramFlags</string>
	<key>methodDecoratorShape</key>
	<string>accessiblePromiseColor</string>
	<key>nodeMementoScale</key>
	<string>logWorkInterval</string>
	<key>scaleShapeDensity</key>
	<string>usedZoneStyle</string>
	<key>symbolAgainstFunction</key>
	<string>delicateSubpixelSize</string>
	<key>tappableChartDirection</key>
	<string>eagerReductionState</string>
</dict>
</plist>
