<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityLayerCoord</key>
	<string>observerVersusPhase</string>
	<key>cacheOutsideStyle</key>
	<string>referenceActionKind</string>
	<key>effectInProcess</key>
	<string>frameAtSystem</string>
	<key>menuViaKind</key>
	<string>captionAndTemple</string>
	<key>providerChainEdge</key>
	<string>presenterDespiteScope</string>
</dict>
</plist>
