<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeCompletionTag</key>
	<string>anchorFunctionPressure</string>
	<key>asyncFrameworkFlags</key>
	<string>scaffoldStructureFlags</string>
	<key>blocPlatformKind</key>
	<string>gramLikeVariable</string>
	<key>cartesianChapterHue</key>
	<string>normalAccessoryMargin</string>
	<key>certificateOutsideWork</key>
	<string>desktopQueryMode</string>
	<key>dimensionPlatformLocation</key>
	<string>delegateOfAdapter</string>
	<key>disabledCanvasSaturation</key>
	<string>sustainablePresenterTag</string>
	<key>grayscaleUntilParameter</key>
	<string>storageByMode</string>
	<key>logarithmTierOrigin</key>
	<string>intermediateSineFormat</string>
	<key>navigatorVersusFlyweight</key>
	<string>numericalCanvasPadding</string>
</dict>
</plist>
