<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnBesideFacade</key>
	<string>gridDespiteStructure</string>
	<key>currentMetadataShade</key>
	<string>dropdownbuttonEnvironmentAlignment</string>
	<key>hierarchicalEntityInset</key>
	<string>retainedGesturedetectorInset</string>
	<key>managerStageOrientation</key>
	<string>routerThroughMediator</string>
	<key>observerInPattern</key>
	<string>materialVersusPlatform</string>
	<key>rectLikeMemento</key>
	<string>responseSinceNumber</string>
	<key>streamSystemSize</key>
	<string>labelParameterName</string>
</dict>
</plist>
