<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardStatelessTheme</key>
	<string>inactiveResourceShade</string>
	<key>canvasTierEdge</key>
	<string>handlerValueDelay</string>
	<key>graphicStrategyDepth</key>
	<string>routeAlongParameter</string>
	<key>integerWorkMode</key>
	<string>stepThanVariable</string>
	<key>intermediateCursorSkewx</key>
	<string>factoryIncludeMemento</string>
	<key>multiAlignmentInset</key>
	<string>interactiveTickerShade</string>
	<key>navigationStateFormat</key>
	<string>fusedStateType</string>
	<key>radioExceptNumber</key>
	<string>lazyModulusEdge</string>
	<key>sceneVarEdge</key>
	<string>gridAmongPrototype</string>
	<key>usedPopupCoord</key>
	<string>screenNearStage</string>
</dict>
</plist>
