<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveVisitorStyle</key>
	<string>brushTypeDistance</string>
	<key>fixedAnimationAlignment</key>
	<string>batchOfEnvironment</string>
	<key>hierarchicalFutureTail</key>
	<string>dedicatedBorderRate</string>
	<key>observerForWork</key>
	<string>sceneMethodDistance</string>
	<key>substantialPlateTheme</key>
	<string>channelActionOrientation</string>
	<key>titleForNumber</key>
	<string>modelInterpreterSpacing</string>
	<key>titleVariableContrast</key>
	<string>interfaceTypeLeft</string>
	<key>vectorExceptLayer</key>
	<string>timerAsStyle</string>
</dict>
</plist>
