<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateRouteLeft</key>
	<string>curveBufferSpacing</string>
	<key>discardedResponseForce</key>
	<string>effectFromEnvironment</string>
	<key>equalizationTempleMomentum</key>
	<string>buttonCompositeIndex</string>
	<key>modulusStageDensity</key>
	<string>protocolStageIndex</string>
	<key>momentumPatternOrientation</key>
	<string>masterDecoratorFrequency</string>
</dict>
</plist>
