<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousSpriteTransparency</key>
	<string>fixedSineDensity</string>
	<key>heroPrototypeVisibility</key>
	<string>originalPetSpeed</string>
	<key>interfaceBeyondState</key>
	<string>asyncFromState</string>
</dict>
</plist>
