<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>momentumLikeStructure</key>
	<string>statefulForMode</string>
	<key>popupSingletonDistance</key>
	<string>controllerVarLeft</string>
	<key>resourceCompositePosition</key>
	<string>sortedTechniqueMode</string>
	<key>singletonInsideVisitor</key>
	<string>workflowAmongBridge</string>
	<key>usedCupertinoPosition</key>
	<string>optionJobMode</string>
	<key>webPriorityAppearance</key>
	<string>positionedContextPadding</string>
</dict>
</plist>
