<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAmongNumber</key>
	<string>newestSpotFlags</string>
	<key>brushAmongNumber</key>
	<string>sineParameterSpacing</string>
	<key>crucialTouchMomentum</key>
	<string>symbolTaskMargin</string>
	<key>directlyCosineValidation</key>
	<string>cellPhaseInterval</string>
	<key>entityAdapterFormat</key>
	<string>listviewContextBottom</string>
	<key>independentToolCenter</key>
	<string>transitionFrameworkLocation</string>
	<key>pointProxyFrequency</key>
	<string>widgetBesideSingleton</string>
	<key>queryActionTension</key>
	<string>streamWorkMomentum</string>
</dict>
</plist>
