<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousConfigurationForce</key>
	<string>descriptionAsSystem</string>
	<key>constraintWithoutVisitor</key>
	<string>finalResourceScale</string>
	<key>cursorOutsideMethod</key>
	<string>reactiveStateOrientation</string>
	<key>decorationForDecorator</key>
	<string>mediumHashIndex</string>
	<key>decorationSystemAlignment</key>
	<string>agileContainerRate</string>
	<key>sineNearBuffer</key>
	<string>activatedBoxshadowTop</string>
	<key>skirtStrategyOffset</key>
	<string>declarativeInkwellTension</string>
	<key>sophisticatedZoneVisible</key>
	<string>previewTierRight</string>
	<key>typicalTweenSize</key>
	<string>responsiveButtonVisibility</string>
</dict>
</plist>
