<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterAsOperation</key>
	<string>mediumSpineFormat</string>
	<key>histogramOutsideAction</key>
	<string>prevProviderEdge</string>
	<key>ignoredSingletonInteraction</key>
	<string>requiredServiceStyle</string>
	<key>listviewContextResponse</key>
	<string>viewContainDecorator</string>
	<key>mediumUnaryBound</key>
	<string>coordinatorCompositeState</string>
	<key>methodAgainstStage</key>
	<string>descriptionSingletonDelay</string>
	<key>mobileModalCount</key>
	<string>ignoredIconBorder</string>
	<key>respectiveNodePadding</key>
	<string>lostGemName</string>
	<key>statefulAboutLayer</key>
	<string>menuExceptCommand</string>
	<key>tweenFunctionKind</key>
	<string>handlerFromPattern</string>
</dict>
</plist>
