<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTaskInterval</key>
	<string>navigatorThanMethod</string>
	<key>apertureAwayDecorator</key>
	<string>intensityValueEdge</string>
	<key>dimensionAboutShape</key>
	<string>isolatePatternRotation</string>
	<key>disabledBoxTheme</key>
	<string>isolateLayerSaturation</string>
	<key>effectAlongStructure</key>
	<string>listviewBesideStrategy</string>
	<key>imperativeTextRate</key>
	<string>managerMementoMode</string>
	<key>marginOperationResponse</key>
	<string>smartScaleBottom</string>
	<key>protectedSineOpacity</key>
	<string>fusedMetadataShade</string>
	<key>sliderExceptBuffer</key>
	<string>dependencyFromDecorator</string>
</dict>
</plist>
