<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPetTail</key>
	<string>cellCycleState</string>
	<key>cellWithValue</key>
	<string>observerAboutJob</string>
	<key>multiTransitionCenter</key>
	<string>resolverKindRight</string>
	<key>requiredStorageFeedback</key>
	<string>navigationNearTier</string>
	<key>webQueueInterval</key>
	<string>controllerStrategyMargin</string>
</dict>
</plist>
