<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSlashDepth</key>
	<string>activatedAspectratioBrightness</string>
	<key>aspectContextEdge</key>
	<string>diversifiedPlaybackDelay</string>
	<key>blocAroundMediator</key>
	<string>positionVersusBuffer</string>
	<key>capsuleParamState</key>
	<string>resolverLikeFacade</string>
	<key>coordinatorVisitorTag</key>
	<string>progressbarVarInteraction</string>
	<key>kernelMementoSize</key>
	<string>subsequentGrayscaleDensity</string>
	<key>materialPlatformOpacity</key>
	<string>canvasPhaseVelocity</string>
	<key>routerPerStrategy</key>
	<string>statelessValueShade</string>
</dict>
</plist>
