<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveSpotFeedback</key>
	<string>geometricStoreCoord</string>
	<key>disabledScrollDuration</key>
	<string>navigationJobAcceleration</string>
	<key>grainParamInset</key>
	<string>concreteEventBrightness</string>
	<key>materialChapterForce</key>
	<string>entityViaMediator</string>
	<key>stateAgainstTask</key>
	<string>sizedboxCommandContrast</string>
	<key>temporaryProjectContrast</key>
	<string>storeOrAdapter</string>
	<key>textAgainstStyle</key>
	<string>ignoredDescriptorMomentum</string>
	<key>tickerBridgeColor</key>
	<string>notifierContainCommand</string>
</dict>
</plist>
