<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionForValue</key>
	<string>mediumRoutePressure</string>
	<key>discardedUsecaseDistance</key>
	<string>nativeSkinVisibility</string>
	<key>fixedInterpolationTint</key>
	<string>sustainableSinkTension</string>
	<key>functionalTaskTop</key>
	<string>visiblePromiseSkewx</string>
	<key>optionAgainstCycle</key>
	<string>cacheStageMode</string>
	<key>previewAroundBuffer</key>
	<string>semanticsCompositeTail</string>
	<key>vectorVisitorScale</key>
	<string>curveOutsideFacade</string>
</dict>
</plist>
