<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxFromChain</key>
	<string>allocatorDuringKind</string>
	<key>diffableTitleShade</key>
	<string>nextSegmentCenter</string>
	<key>transformerStateLocation</key>
	<string>buttonNearKind</string>
</dict>
</plist>
