<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTimerAlignment</key>
	<string>stepWithoutBuffer</string>
	<key>alignmentParameterRight</key>
	<string>directGrayscaleAlignment</string>
	<key>difficultNotifierFeedback</key>
	<string>observerUntilJob</string>
	<key>immutableQueueDensity</key>
	<string>mobileMissionBrightness</string>
	<key>resourceEnvironmentEdge</key>
	<string>loopStageBehavior</string>
	<key>threadVarResponse</key>
	<string>indicatorContainParam</string>
</dict>
</plist>
