<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandCompositeShape</key>
	<string>skirtSinceBridge</string>
	<key>crucialSinkFrequency</key>
	<string>switchViaDecorator</string>
	<key>deferredCallbackAcceleration</key>
	<string>overlayAlongVar</string>
	<key>integerSinceObserver</key>
	<string>interactorOrStyle</string>
	<key>layerInsideType</key>
	<string>eagerCallbackStyle</string>
	<key>particlePhaseTransparency</key>
	<string>managerAtAdapter</string>
	<key>publicTextKind</key>
	<string>previewStrategyFeedback</string>
	<key>sizeDecoratorFlags</key>
	<string>textfieldEnvironmentHead</string>
	<key>utilInMemento</key>
	<string>smallAssetInterval</string>
</dict>
</plist>
