<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartAroundVisitor</key>
	<string>animatedStatelessBorder</string>
	<key>menuWithoutJob</key>
	<string>graphFromKind</string>
	<key>responsiveSwitchBorder</key>
	<string>remainderFlyweightPressure</string>
	<key>staticReducerVisibility</key>
	<string>binaryAgainstValue</string>
</dict>
</plist>
