<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystInChain</key>
	<string>configurationStrategyIndex</string>
	<key>completionAsType</key>
	<string>nativeGestureSaturation</string>
	<key>concurrentSliderDepth</key>
	<string>builderMediatorSize</string>
	<key>delicateInkwellScale</key>
	<string>nativeDescriptionCenter</string>
	<key>repositoryCommandStatus</key>
	<string>catalystOutsideProxy</string>
	<key>sophisticatedRouteDirection</key>
	<string>geometricDecorationFeedback</string>
	<key>spriteDespiteStyle</key>
	<string>loopThroughValue</string>
</dict>
</plist>
