<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchIncludeAction</key>
	<string>similarMobxKind</string>
	<key>buttonUntilObserver</key>
	<string>grainNearFramework</string>
	<key>consumerContainState</key>
	<string>mediocreCompletionPadding</string>
	<key>listviewNearSystem</key>
	<string>taskOfMemento</string>
	<key>mediocreRemainderSpacing</key>
	<string>interactorContainTier</string>
	<key>singletonInsideTier</key>
	<string>geometricMovementOpacity</string>
</dict>
</plist>
