<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyInkwellType</key>
	<string>matrixPlatformShape</string>
	<key>gestureSinceTier</key>
	<string>requestFromObserver</string>
	<key>independentObserverSkewy</key>
	<string>metadataPhaseSpeed</string>
	<key>liteChapterInterval</key>
	<string>ephemeralNormTail</string>
	<key>reducerAlongPrototype</key>
	<string>convolutionNearForm</string>
	<key>relationalSpritePosition</key>
	<string>asynchronousHandlerOpacity</string>
	<key>responsiveProgressbarState</key>
	<string>nextExceptionMomentum</string>
	<key>tangentTempleFeedback</key>
	<string>frameAmongContext</string>
	<key>textureDecoratorDirection</key>
	<string>durationFrameworkTop</string>
	<key>tickerJobVisible</key>
	<string>animatedcontainerModeTransparency</string>
</dict>
</plist>
