<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseTopicTheme</key>
	<string>injectionNearStyle</string>
	<key>finalDecorationCenter</key>
	<string>symmetricBrushAppearance</string>
	<key>getxTypeTheme</key>
	<string>musicBeyondContext</string>
	<key>hashThroughForm</key>
	<string>pointSingletonSaturation</string>
	<key>layerAroundPattern</key>
	<string>priorStoreCoord</string>
	<key>layerViaTier</key>
	<string>materialInPhase</string>
	<key>responseKindInteraction</key>
	<string>bufferFunctionMomentum</string>
	<key>titleCycleScale</key>
	<string>disparateCellOrientation</string>
	<key>unsortedAlignmentOpacity</key>
	<string>euclideanBlocTransparency</string>
	<key>usedInterfaceVisibility</key>
	<string>rapidSliderMode</string>
</dict>
</plist>
