<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSwitchShade</key>
	<string>nodeInJob</string>
	<key>optimizerOutsideMemento</key>
	<string>operationStageStyle</string>
	<key>primaryEffectFormat</key>
	<string>configurationInsideActivity</string>
	<key>reductionStructureDuration</key>
	<string>alertPrototypeVisible</string>
	<key>resourceInterpreterOrientation</key>
	<string>mediaNearFramework</string>
	<key>titleJobTheme</key>
	<string>stampAtStrategy</string>
	<key>toolAgainstProxy</key>
	<string>taskAtMethod</string>
	<key>viewWithEnvironment</key>
	<string>threadTierCoord</string>
</dict>
</plist>
