<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncBySingleton</key>
	<string>handlerShapeSaturation</string>
	<key>cursorPerProcess</key>
	<string>featureBufferAppearance</string>
	<key>dependencyMethodFeedback</key>
	<string>uniqueLocalizationDirection</string>
	<key>flexibleScrollInterval</key>
	<string>observerAsLayer</string>
	<key>frameStructureAcceleration</key>
	<string>allocatorViaShape</string>
	<key>intuitiveTangentSpacing</key>
	<string>directPresenterShade</string>
	<key>mediaqueryPlatformShade</key>
	<string>finalTangentOrigin</string>
	<key>nextEquipmentOrientation</key>
	<string>rowVariableTail</string>
	<key>paddingMementoPosition</key>
	<string>activityThroughStructure</string>
	<key>sortedTransformerTheme</key>
	<string>alignmentAroundScope</string>
</dict>
</plist>
