<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxOrCommand</key>
	<string>denseSkirtShade</string>
	<key>concurrentDescriptionStatus</key>
	<string>asynchronousTextForce</string>
	<key>exceptionFunctionKind</key>
	<string>visibleResponseAcceleration</string>
	<key>extensionPatternFrequency</key>
	<string>decorationFacadeTail</string>
	<key>metadataProxyPosition</key>
	<string>swiftPhaseScale</string>
	<key>oldIntensityIndex</key>
	<string>dedicatedAlignmentOpacity</string>
	<key>paddingAmongEnvironment</key>
	<string>displayableFrameRight</string>
	<key>particleThroughComposite</key>
	<string>agileContainerFlags</string>
	<key>priorFeatureSpacing</key>
	<string>normalLoopAcceleration</string>
	<key>scaffoldParamTint</key>
	<string>tickerParameterScale</string>
</dict>
</plist>
