<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectKindMode</key>
	<string>completionFunctionAcceleration</string>
	<key>basicSemanticsDelay</key>
	<string>apertureViaParameter</string>
	<key>disparateRectResponse</key>
	<string>geometricServiceBehavior</string>
	<key>imageInterpreterCoord</key>
	<string>serviceWithoutAdapter</string>
	<key>interactiveMusicForce</key>
	<string>anchorAtScope</string>
	<key>nativeCommandHue</key>
	<string>concreteSpineTail</string>
	<key>progressbarContainAction</key>
	<string>retainedGridVisibility</string>
	<key>signatureAgainstSingleton</key>
	<string>convolutionStyleRotation</string>
</dict>
</plist>
