<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorModeShape</key>
	<string>particleProcessDensity</string>
	<key>getxPlatformMargin</key>
	<string>descriptionWithoutEnvironment</string>
	<key>immediateRectHue</key>
	<string>currentViewVisible</string>
	<key>interpolationCompositeContrast</key>
	<string>discardedRouteOpacity</string>
	<key>masterDespiteAdapter</key>
	<string>iterativeNodeTop</string>
	<key>matrixLayerBottom</key>
	<string>cubitDespiteInterpreter</string>
	<key>sizeNumberRotation</key>
	<string>localExponentDirection</string>
	<key>usecaseDecoratorInterval</key>
	<string>symmetricExceptionOrigin</string>
</dict>
</plist>
