<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorStateCount</key>
	<string>providerMethodTag</string>
	<key>dynamicBinaryBrightness</key>
	<string>configurationTierPressure</string>
	<key>futureVarDelay</key>
	<string>sortedCurveBehavior</string>
	<key>handlerFlyweightPosition</key>
	<string>animationAmongFlyweight</string>
	<key>mediumHeroDelay</key>
	<string>binaryTierContrast</string>
	<key>resourceContextVisibility</key>
	<string>prismaticMediaqueryTransparency</string>
	<key>statefulSingletonAppearance</key>
	<string>pivotalIconBottom</string>
	<key>stepStageAppearance</key>
	<string>challengeSinceState</string>
</dict>
</plist>
