<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterPhaseFormat</key>
	<string>synchronousStreamStyle</string>
	<key>constraintSinceBuffer</key>
	<string>popupVarPosition</string>
	<key>consumerParamSize</key>
	<string>fragmentContainVisitor</string>
	<key>geometricScaffoldPadding</key>
	<string>particleThroughVar</string>
	<key>newestChallengeLocation</key>
	<string>spotDuringCommand</string>
	<key>particleAdapterValidation</key>
	<string>sortedFrameSize</string>
	<key>richtextBufferShape</key>
	<string>webEquipmentCoord</string>
	<key>tangentStateBottom</key>
	<string>routeCompositeFormat</string>
	<key>viewSystemTransparency</key>
	<string>ignoredResourceTheme</string>
</dict>
</plist>
