<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCatalystSpacing</key>
	<string>modelWorkInteraction</string>
	<key>commandStageDepth</key>
	<string>rowNearForm</string>
	<key>descriptionViaShape</key>
	<string>providerLayerAppearance</string>
	<key>spineStyleDelay</key>
	<string>particleWithContext</string>
	<key>stateActivityMargin</key>
	<string>promiseOfLevel</string>
	<key>uniqueDialogsTension</key>
	<string>widgetThroughVariable</string>
</dict>
</plist>
