<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorAroundDecorator</key>
	<string>consumerBridgeDirection</string>
	<key>liteGemRight</key>
	<string>discardedSliderForce</string>
	<key>mobxVisitorEdge</key>
	<string>vectorTempleSkewy</string>
	<key>persistentDelegateTension</key>
	<string>frameOperationOrigin</string>
	<key>playbackVariableFeedback</key>
	<string>specifyButtonCoord</string>
	<key>semanticsIncludeParam</key>
	<string>cosineCompositeBorder</string>
	<key>shaderBeyondPrototype</key>
	<string>repositoryAwayFlyweight</string>
	<key>similarPlateMode</key>
	<string>symbolThroughEnvironment</string>
	<key>taskByChain</key>
	<string>priorAspectSkewx</string>
</dict>
</plist>
