<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOutsideFramework</key>
	<string>intensityContainParameter</string>
	<key>cubitTierSkewx</key>
	<string>cartesianExpandedMode</string>
	<key>permissiveEffectCenter</key>
	<string>spriteAboutFramework</string>
	<key>resilientBrushVisibility</key>
	<string>visibleResourceEdge</string>
	<key>scaleCycleIndex</key>
	<string>permanentModelFlags</string>
	<key>textureNumberMode</key>
	<string>switchAsNumber</string>
	<key>tickerMementoDensity</key>
	<string>coordinatorMethodShape</string>
</dict>
</plist>
