<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncParamKind</key>
	<string>coordinatorCommandOpacity</string>
	<key>chapterVariableTop</key>
	<string>concreteIconSaturation</string>
	<key>dedicatedZoneTransparency</key>
	<string>reactiveFlexOrigin</string>
	<key>expandedBridgeKind</key>
	<string>delegateCycleAlignment</string>
	<key>interpolationVariableTint</key>
	<string>transitionByShape</string>
	<key>labelFrameworkPosition</key>
	<string>synchronousStoryboardSpacing</string>
	<key>previewBufferTop</key>
	<string>isolateForPhase</string>
	<key>previewValueSkewx</key>
	<string>retainedCommandPressure</string>
	<key>staticLogShape</key>
	<string>singletonCycleDirection</string>
	<key>usecaseContainMemento</key>
	<string>temporaryAlertTransparency</string>
</dict>
</plist>
