<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>draggableDrawerTheme</key>
	<string>techniqueLevelVisible</string>
	<key>interactorTempleDistance</key>
	<string>managerBridgeLeft</string>
	<key>permissiveProviderSize</key>
	<string>notificationTempleType</string>
	<key>timerNumberMargin</key>
	<string>interfaceAlongDecorator</string>
</dict>
</plist>
