<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheInsideMethod</key>
	<string>iterativeSpritePosition</string>
	<key>compositionalRadiusColor</key>
	<string>controllerPrototypeSpeed</string>
	<key>customProgressbarOrigin</key>
	<string>playbackPerStrategy</string>
	<key>giftScopePressure</key>
	<string>curveScopeBottom</string>
	<key>methodViaType</key>
	<string>boxProcessFlags</string>
	<key>responseOutsideStage</key>
	<string>offsetProcessSpacing</string>
</dict>
</plist>
