<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionWithoutProcess</key>
	<string>viewThanScope</string>
	<key>giftUntilPlatform</key>
	<string>associatedAppbarShape</string>
	<key>interpolationStageMode</key>
	<string>bulletJobInterval</string>
	<key>keyDecorationHead</key>
	<string>tweenTaskSaturation</string>
	<key>listenerPerProcess</key>
	<string>observerDuringFunction</string>
	<key>originalOffsetDirection</key>
	<string>contractionInMediator</string>
	<key>scaleAboutCycle</key>
	<string>descriptionOutsideSystem</string>
	<key>widgetAgainstStrategy</key>
	<string>positionedBufferShade</string>
</dict>
</plist>
