<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocTypeTension</key>
	<string>accessibleCapacitiesAppearance</string>
	<key>cartesianCubeMargin</key>
	<string>remainderOfOperation</string>
	<key>layoutOutsideFramework</key>
	<string>profileBeyondTier</string>
	<key>opaqueResponseSkewy</key>
	<string>declarativeMenuAcceleration</string>
	<key>painterAboutOperation</key>
	<string>associatedMetadataAcceleration</string>
	<key>segmentAwayContext</key>
	<string>optionTypeShade</string>
	<key>statefulBinaryVisible</key>
	<string>sequentialReductionSaturation</string>
</dict>
</plist>
