<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPhaseOpacity</key>
	<string>dialogsScopeDepth</string>
	<key>ephemeralHistogramTop</key>
	<string>apertureInsideInterpreter</string>
	<key>injectionStateBound</key>
	<string>significantListenerSaturation</string>
	<key>prevAlignmentHue</key>
	<string>precisionAlongOperation</string>
	<key>referenceOfTemple</key>
	<string>utilDespitePlatform</string>
	<key>segueAlongPhase</key>
	<string>methodProcessVisible</string>
	<key>unsortedUtilHead</key>
	<string>streamSingletonBorder</string>
</dict>
</plist>
