<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerChainSpacing</key>
	<string>semanticRowRotation</string>
	<key>finalAnimationSpacing</key>
	<string>euclideanInstructionSkewx</string>
	<key>globalMediaqueryColor</key>
	<string>uniqueTangentState</string>
	<key>modelBesideFlyweight</key>
	<string>rapidDecorationLeft</string>
	<key>newestPlateTag</key>
	<string>builderDuringVar</string>
	<key>pointStructureDistance</key>
	<string>variantCycleVelocity</string>
	<key>progressbarAdapterRate</key>
	<string>switchChainRotation</string>
	<key>temporaryTickerInterval</key>
	<string>reusableAccessoryVisibility</string>
</dict>
</plist>
