<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>greatSkirtType</key>
	<string>convolutionStageBehavior</string>
	<key>interpolationAmongJob</key>
	<string>lastInstructionPosition</string>
	<key>offsetFormLocation</key>
	<string>errorFromState</string>
	<key>pivotalLabelFlags</key>
	<string>appbarThroughAdapter</string>
	<key>statefulChannelFlags</key>
	<string>resultVersusDecorator</string>
</dict>
</plist>
