<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerGraphInteraction</key>
	<string>spotWorkDepth</string>
	<key>exceptionStatePosition</key>
	<string>blocBufferBound</string>
	<key>hierarchicalTransitionBottom</key>
	<string>reductionOfNumber</string>
	<key>intermediateCurveSkewx</key>
	<string>uniformControllerInterval</string>
	<key>materialTableCoord</key>
	<string>gridviewOrProxy</string>
	<key>providerExceptParameter</key>
	<string>roleMethodTension</string>
	<key>resourceAmongBridge</key>
	<string>completerFunctionKind</string>
	<key>serviceSystemTint</key>
	<string>granularStreamOrigin</string>
	<key>ternaryContainFacade</key>
	<string>eventViaScope</string>
</dict>
</plist>
