<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyTopicRate</key>
	<string>durationContainPlatform</string>
	<key>protectedSizedboxRotation</key>
	<string>commandStageSpeed</string>
	<key>spriteValueTail</key>
	<string>popupAgainstParameter</string>
	<key>toolOrOperation</key>
	<string>inactiveHeroSkewx</string>
	<key>vectorAndFacade</key>
	<string>dynamicManagerSaturation</string>
	<key>widgetStyleKind</key>
	<string>deferredConfigurationTop</string>
</dict>
</plist>
