<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeChannelsIndex</key>
	<string>characterInterpreterFrequency</string>
	<key>featureBesideType</key>
	<string>drawerAboutContext</string>
	<key>intensityLayerMode</key>
	<string>functionalFrameOpacity</string>
	<key>relationalMemberDirection</key>
	<string>multiProjectionOrientation</string>
</dict>
</plist>
