<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledAnimationFrequency</key>
	<string>appbarModeLeft</string>
	<key>grainVersusVisitor</key>
	<string>intensityMethodShape</string>
	<key>invisibleAnimationResponse</key>
	<string>cycleAmongParam</string>
	<key>singleCoordinatorKind</key>
	<string>switchOfMode</string>
	<key>typicalPreviewOpacity</key>
	<string>completerFromFacade</string>
	<key>visibleWidgetInterval</key>
	<string>difficultRouteShade</string>
</dict>
</plist>
