<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetDuringTier</key>
	<string>reducerTempleTop</string>
	<key>featureVariableFrequency</key>
	<string>actionSingletonBottom</string>
	<key>frameVisitorOrigin</key>
	<string>exceptionNearInterpreter</string>
	<key>independentSpotVisible</key>
	<string>unactivatedPreviewInset</string>
	<key>logarithmOrCommand</key>
	<string>radioVariableTop</string>
	<key>rapidCallbackMomentum</key>
	<string>animationParameterState</string>
	<key>usecaseAtTask</key>
	<string>momentumInterpreterTag</string>
</dict>
</plist>
