<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPlatformStatus</key>
	<string>capsuleAndAdapter</string>
	<key>materialMobileCenter</key>
	<string>layerAlongObserver</string>
	<key>shaderViaType</key>
	<string>permissiveEventTransparency</string>
</dict>
</plist>
