<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyShapeDensity</key>
	<string>robustBulletCount</string>
	<key>firstInjectionScale</key>
	<string>usecaseThanPrototype</string>
	<key>greatSwitchRotation</key>
	<string>titleTempleSpeed</string>
	<key>groupUntilOperation</key>
	<string>taskBeyondStyle</string>
</dict>
</plist>
