<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTempleSize</key>
	<string>requestProxyTint</string>
	<key>baseStyleBottom</key>
	<string>positionThroughCommand</string>
	<key>interfaceExceptVisitor</key>
	<string>radioInterpreterScale</string>
	<key>materialLevelTheme</key>
	<string>marginAmongMemento</string>
</dict>
</plist>
