<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellNumberOrientation</key>
	<string>subsequentGetxVelocity</string>
	<key>checklistAndCycle</key>
	<string>repositoryStyleOrigin</string>
	<key>declarativeSlashMomentum</key>
	<string>transformerExceptEnvironment</string>
	<key>significantSignHue</key>
	<string>logarithmMethodForce</string>
	<key>titleChainPadding</key>
	<string>normSystemShape</string>
</dict>
</plist>
