<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerOptimizerValidation</key>
	<string>actionVarBorder</string>
	<key>providerStrategyVelocity</key>
	<string>oldAnchorShape</string>
	<key>rectBesideDecorator</key>
	<string>sceneOrVar</string>
	<key>secondViewSaturation</key>
	<string>grainInsideScope</string>
	<key>temporaryBehaviorOpacity</key>
	<string>petSinceParam</string>
</dict>
</plist>
