<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperStateCoord</key>
	<string>interfaceOrAdapter</string>
	<key>discardedTitleLocation</key>
	<string>exponentFormSkewy</string>
	<key>entityWithoutPattern</key>
	<string>alphaTaskVisible</string>
	<key>modalBufferSkewx</key>
	<string>transitionLevelMode</string>
	<key>reducerProxyInteraction</key>
	<string>compositionForOperation</string>
	<key>responsiveLoopAppearance</key>
	<string>mapCommandScale</string>
	<key>tweenIncludeCommand</key>
	<string>densePointPadding</string>
	<key>viewActionInterval</key>
	<string>cosineIncludeVariable</string>
	<key>widgetAsTier</key>
	<string>textProcessPressure</string>
</dict>
</plist>
