<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationBeyondProxy</key>
	<string>allocatorStateForce</string>
	<key>handlerOfParameter</key>
	<string>modalUntilTask</string>
	<key>lazyLayoutBottom</key>
	<string>requestAboutForm</string>
	<key>reducerStyleFlags</key>
	<string>newestInterfaceRate</string>
	<key>repositoryStageDuration</key>
	<string>mediaqueryKindCenter</string>
	<key>requiredAlignmentInteraction</key>
	<string>nextMediaTint</string>
	<key>segueOutsideLayer</key>
	<string>entityAndChain</string>
</dict>
</plist>
