<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterPlatformVisible</key>
	<string>localCubeSaturation</string>
	<key>chartSinceCommand</key>
	<string>layoutAndCycle</string>
	<key>commandAgainstShape</key>
	<string>uniformCubitTransparency</string>
	<key>cubitParamInset</key>
	<string>expandedAndPhase</string>
	<key>customizedSinkOrigin</key>
	<string>repositoryNumberMode</string>
	<key>denseCycleMomentum</key>
	<string>observerVisitorTag</string>
	<key>getxViaNumber</key>
	<string>imageFrameworkSkewy</string>
	<key>handlerNumberVelocity</key>
	<string>taskPatternSize</string>
	<key>reducerOutsideContext</key>
	<string>tensorRouteLeft</string>
	<key>routerAmongShape</key>
	<string>baselineOfOperation</string>
</dict>
</plist>
