<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnFlyweightInset</key>
	<string>handlerTierMode</string>
	<key>layoutAdapterStyle</key>
	<string>constManagerTint</string>
	<key>streamContainProxy</key>
	<string>listenerWorkScale</string>
	<key>textureDuringWork</key>
	<string>difficultMatrixTag</string>
</dict>
</plist>
