<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCommandDepth</key>
	<string>localizationProxyKind</string>
	<key>delegateThanForm</key>
	<string>smartKernelFeedback</string>
	<key>hierarchicalRadiusRight</key>
	<string>utilOutsideBuffer</string>
	<key>imperativeProviderBrightness</key>
	<string>switchAsFacade</string>
	<key>managerKindAlignment</key>
	<string>geometricBuilderSaturation</string>
	<key>materialVersusPattern</key>
	<string>inactiveWidgetAppearance</string>
</dict>
</plist>
