<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateExceptMode</key>
	<string>metadataJobOrigin</string>
	<key>descriptorStructureName</key>
	<string>respectiveTextOrigin</string>
	<key>gesturedetectorAsState</key>
	<string>popupChainVisible</string>
	<key>groupNearMemento</key>
	<string>tickerTierLeft</string>
	<key>materialGrainTag</key>
	<string>discardedSwitchKind</string>
	<key>radioFunctionSkewx</key>
	<string>finalFutureHead</string>
	<key>resourceCommandBorder</key>
	<string>containerProxyBound</string>
	<key>resultPerAdapter</key>
	<string>sequentialBatchDuration</string>
	<key>secondSubscriptionResponse</key>
	<string>titleObserverOrientation</string>
	<key>semanticEventSpacing</key>
	<string>playbackTaskHue</string>
</dict>
</plist>
