<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOutsideStage</key>
	<string>tappableHashDistance</string>
	<key>aspectMethodMargin</key>
	<string>groupActivityInset</string>
	<key>mainCurveName</key>
	<string>consultativeReductionOpacity</string>
	<key>mapDespiteForm</key>
	<string>multiplicationLayerFlags</string>
	<key>menuTypeAcceleration</key>
	<string>notificationShapeResponse</string>
	<key>textLikeType</key>
	<string>specifierUntilValue</string>
	<key>topicLevelKind</key>
	<string>effectStateAppearance</string>
</dict>
</plist>
