<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaActionDepth</key>
	<string>storyboardBufferHead</string>
	<key>cubitAlongMediator</key>
	<string>navigatorInsideValue</string>
	<key>layoutAlongAdapter</key>
	<string>workflowProxyFeedback</string>
	<key>mediaAboutType</key>
	<string>greatLabelVisible</string>
	<key>sliderInFacade</key>
	<string>queueInsideKind</string>
	<key>spineCycleForce</key>
	<string>topicLikeOperation</string>
</dict>
</plist>
