<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyBoxResponse</key>
	<string>cellOutsideMediator</string>
	<key>responsiveNotificationOrigin</key>
	<string>capacitiesThroughPattern</string>
	<key>seamlessDelegateSize</key>
	<string>brushMementoSize</string>
	<key>similarInjectionResponse</key>
	<string>compositionalMenuTheme</string>
	<key>visibleActionHead</key>
	<string>signWithoutNumber</string>
</dict>
</plist>
