<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSingletonShape</key>
	<string>resultAdapterDelay</string>
	<key>captionAboutPhase</key>
	<string>factoryInActivity</string>
	<key>cardInsideDecorator</key>
	<string>immutableNodeOffset</string>
	<key>heroPrototypePadding</key>
	<string>subscriptionDecoratorOpacity</string>
	<key>requiredProtocolRight</key>
	<string>staticWorkflowLeft</string>
	<key>responseProxyLocation</key>
	<string>profileTempleValidation</string>
	<key>scaffoldInsideAction</key>
	<string>streamAsPhase</string>
</dict>
</plist>
