<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsInterpreter</key>
	<string>smartCollectionInteraction</string>
	<key>featurePlatformScale</key>
	<string>mediumInteractorOpacity</string>
	<key>fusedBuilderCenter</key>
	<string>delicateEntityFormat</string>
	<key>inheritedHandlerColor</key>
	<string>hashCycleTail</string>
	<key>plateActionCoord</key>
	<string>advancedServiceScale</string>
	<key>repositoryDecoratorShade</key>
	<string>requestOfOperation</string>
	<key>visibleBatchDepth</key>
	<string>inactiveDecorationCenter</string>
</dict>
</plist>
