<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorSinceStyle</key>
	<string>widgetAdapterFlags</string>
	<key>crudeExpandedResponse</key>
	<string>providerContextSpeed</string>
	<key>otherMissionFormat</key>
	<string>disabledAlertLeft</string>
	<key>pinchableCompletionAppearance</key>
	<string>bufferBridgeCoord</string>
	<key>storeOfShape</key>
	<string>normalTextRotation</string>
	<key>subpixelValueAppearance</key>
	<string>nodeEnvironmentDirection</string>
</dict>
</plist>
