<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileTextDensity</key>
	<string>durationAwayChain</string>
	<key>batchDecoratorDepth</key>
	<string>labelExceptFunction</string>
	<key>checklistSystemAppearance</key>
	<string>transitionAdapterAlignment</string>
	<key>completerForFramework</key>
	<string>transformerBridgeBorder</string>
	<key>expandedTierLeft</key>
	<string>requiredHeroOrigin</string>
	<key>iterativeCommandFrequency</key>
	<string>clipperAgainstTemple</string>
	<key>nodeUntilSystem</key>
	<string>delegateTierHead</string>
	<key>tweenScopeTheme</key>
	<string>beginnerGrayscaleDensity</string>
</dict>
</plist>
