<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowBesideChain</key>
	<string>inkwellBeyondSingleton</string>
	<key>crucialResolverOpacity</key>
	<string>injectionTierState</string>
	<key>cursorJobIndex</key>
	<string>menuPatternTension</string>
	<key>exponentDespiteParam</key>
	<string>gridviewInContext</string>
	<key>resultUntilParam</key>
	<string>curveOrPhase</string>
	<key>transitionWithMediator</key>
	<string>previewNearStructure</string>
	<key>utilStateTheme</key>
	<string>concreteMasterStatus</string>
</dict>
</plist>
